{% extends 'base.html' %}
{% load static %}

{% block title %}Home - VGDS{% endblock %}


      {% block content %}

        <!--Home Navbar  -->

        <nav class="navbar navbar-expand-lg fixed-top transparent">
          <div class="container">
            <a class="navbar-brand" href="/">
                <!-- White logo (default) -->
                <img src="{% static 'images/vgds-white-logo.png' %}" alt="Bootstrap" class="logo logo-white" id="navbarLogo">

                <!-- Colored logo (hidden initially) -->
                <img src="{% static 'images/vgds-logo-2.png' %}" class="logo logo-colored d-none" alt="Logo">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-center" id="navbarText">
              <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="{% url 'projectapp:ourWorks' %}">Our Work</a>
                </li>
                <li class="nav-item dropdown custom-dropdown">
                  <a class="nav-link dropdown-toggle" href="{% url 'projectapp:services' %}">Services</a>
                    <div class="dropdown-menu mega-dropdown">
                        <div class="row">
                          <div class="col-md-4">
                            <a href="{% url 'projectapp:presentation_design' %}" class="dropdown-card">
                              <img src="{% static 'images/sol1.jpg' %}" class="img-fluid" alt="Presentation Design">
                              <p class="dropdown-title">Presentation Design</p>
                            </a>
                          </div>
                          <div class="col-md-4">
                            <a href="{% url 'projectapp:graphics' %}" class="dropdown-card">
                              <img src="{% static 'images/sol2.jpg' %}" class="img-fluid" alt="Graphics & Print Design">
                              <p class="dropdown-title">Graphics & Print Design</p>
                            </a>
                          </div>
                          <div class="col-md-4">
                            <a href="{% url 'projectapp:otherServices' %}" class="dropdown-card">
                              <img src="{% static 'images/sol3.jpg' %}" class="img-fluid" alt="Other Services">
                              <p class="dropdown-title">Other Services</p>
                            </a>
                          </div>
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'projectapp:solutions' %}">Solutions</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'projectapp:testimonials' %}">Testimonials</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'projectapp:pricing' %}">Pricing</a>
                </li>
<!--                <li class="nav-item">-->
<!--                  <a class="nav-link" href="#">About Us</a>-->
<!--                </li>-->
              </ul>

                <!-- Mobile Order Now button -->
              <div class="d-lg-none mt-3">
                <a href="{% url 'projectapp:orderFlow' %}" type="button" class="btn order-button-nav" target="_blank">Order Now</a>
              </div>

            </div>

            <!-- Order Now Button -->
            <div class="d-none d-lg-block">
<!--                <a href="#" type="button" class="btn order-button-nav" data-bs-toggle="modal" data-bs-target="#orderModalTreatment">Order Now</a>-->
              <a href="{% url 'projectapp:orderFlow' %}" type="button" class="btn order-button-nav" target="_blank">Order Now</a>
            </div>

          </div>
        </nav>

        <!--END NAVBAR-->

        <div class="header">
            <div class="card text-bg-dark hero-card d-flex justify-content-center align-items-center">

                <div class="card-img-overlay">
                    <div class="container-fluid">
                    <div class="row align-items-center w-100">

                        <div class="col-md-6 d-flex flex-column justify-content-center align-items-center align-items-md-end">
                            <div class="card hero-head-card-1">
                              <div class="card-body p-0">
                                <h5 class="hero-card-title mb-4">Impactful Designs. Powerful Presentations. Game-Changing Results.</h5>
                                <h6 class="hero-card-subtitle">
                                    At Visual Graphics Design Services Global, we craft stunning, high-impact presentations that captivate
                                    and persuade. Our expert designers deliver top-tier quality—fast, affordable, and hassle-free.
                                    From pitch decks to corporate reports, we turn content into compelling visuals that make every slide stand out.
                                </h6>

                                <div class="button-group">
                                    <button type="button" class="btn order-button">Order Now</button>
                                    <button type="button" class="btn enquiry-button">Submit Enquiry</button>
                                </div>

                              </div>
                            </div>
                        </div>

                        <div class="col-md-6 d-none d-md-flex flex-column align-items-end p-0">
                            <div class="row">
                                <div class="col-6 d-flex flex-column align-items-end">
                                    <div class="swiper mySwiper mx-0">
                                      <div class="swiper-wrapper">
                                        <div class="swiper-slide"><img src="static/images/dum.jpg" alt=""></div>
                                        <div class="swiper-slide"><img src="static/images/image2.jpg" alt=""></div>
                                        <div class="swiper-slide"><img src="static/images/image3.jpg" alt=""></div>
                                          <div class="swiper-slide"><img src="static/images/image4.jpg" alt=""></div>
                                          <div class="swiper-slide"><img src="static/images/image5.jpg" alt=""></div>
                                        <div class="swiper-slide"><img src="static/images/image6.jpg" alt=""></div>
                                        <div class="swiper-slide"><img src="static/images/image4.jpg" alt=""></div>
                                          <div class="swiper-slide"><img src="static/images/image2.jpg" alt=""></div>
                                      </div>
                                    </div>
                                </div>
                                <div class="col-6 d-flex flex-column align-items-end">
                                    <div class="swiper mySwiper2 mx-0">
                                      <div class="swiper-wrapper">
                                        <div class="swiper-slide"><img src="static/images/image3.jpg" alt=""></div>
                                        <div class="swiper-slide"><img src="static/images/image5.jpg" alt=""></div>
                                        <div class="swiper-slide"><img src="static/images/image6.jpg" alt=""></div>
                                          <div class="swiper-slide"><img src="static/images/image2.jpg" alt=""></div>
                                          <div class="swiper-slide"><img src="static/images/image3.jpg" alt=""></div>
                                        <div class="swiper-slide"><img src="static/images/image4.jpg" alt=""></div>
                                        <div class="swiper-slide"><img src="static/images/image5.jpg" alt=""></div>
                                          <div class="swiper-slide"><img src="static/images/image6.jpg" alt=""></div>
                                      </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="white-section">
            <div class="card trust-card">
              <div class="container p-0">
              <div class="card-body p-0 card-body-1">
                <h5 class="trust-title">Trusted Worldwide. Proven Excellence.</h5>
                  <div class="row row-cols-1 row-cols-md-4 g-4">
                      <div class="col">
                        <div class="card trust-card-in" style="">
                          <div class="card-body p-0">
                            <h5 class="trust-title-1 count" data-target="3000000" data-format="3M +">0</h5>
                            <p class="trust-subtitle">Slides Designed</p>
                          </div>
                        </div>
                      </div>
                      <div class="col d-md-flex flex-column align-items-center border-dashed-start">
                        <div class="card trust-card-in">
                          <div class="card-body p-0">
                            <h5 class="trust-title-1 count" data-target="500" data-format="500+">0</h5>
                            <p class="trust-subtitle">Happy Clients Worldwide</p>
                          </div>
                        </div>
                      </div>
                      <div class="col d-md-flex flex-column align-items-center border-dashed-start">
                        <div class="card trust-card-in">
                          <div class="card-body p-0">
                            <h5 class="trust-title-1 count" data-target="4.9" data-format="4.9/5">0</h5>
                            <p class="trust-subtitle">Global Rating</p>
                          </div>
                        </div>
                      </div>
                      <div class="col d-md-flex flex-column align-items-center border-dashed-start">
                        <div class="card trust-card-in">
                          <div class="card-body p-0">
                            <h5 class="trust-title-1 count" data-target="15" data-format="15+">0</h5>
                            <p class="trust-subtitle">Years of Experience</p>
                          </div>
                        </div>
                      </div>
                  </div>
              </div>
              </div>
            </div>
        </div>

        <div class="section-3 white-section">
            <div class="card solution-card">
              <div class="container p-0">
                  <div class="card-body p-0 card-body-1">
                    <div class="card border-0 rounded-0 bg-transparent" style="margin-bottom: 3.5rem;">
                      <div class="card-body p-0 d-flex flex-column flex-md-row justify-content-between align-items-start align-items-md-center ">
                        <h5 class="solution-title mb-2 mb-md-0">Solutions we Provide</h5>
                        <a class="learn-link d-inline-flex align-items-center" href="{% url 'projectapp:services' %}">
                          Learn More
                          <img src="static/icons/Frame1.svg" alt="Arrow" class="ms-2" width="20" height="20">
                        </a>
                      </div>
                    </div>
                    <div class="row row-cols-1 row-cols-md-3 g-5">
                        <div class="col">
                            <div class="card solution-card-1" style="max-width: 23.75rem;">
                              <div class="bg-cover" style="background-image: url('static/images/sol1.jpg');"></div>
                              <div class="card-body p-0">
                                <h5 class="solution-title-1">Presentation Design</h5>
                                <h5 class="solution-title-2">Crafted to Impress. Designed to Win.</h5>
                                <h5 class="solution-title-3">At VGDS Global, we create custom slide designs that perfectly reflect your brand’s identity while delivering unforgettable presentations that captivate and persuade.</h5>
                              </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card solution-card-1" style="max-width: 23.75rem;">
                              <div class="bg-cover" style="background-image: url('static/images/sol2.jpg');"></div>
                              <div class="card-body p-0">
                                <h5 class="solution-title-1">Graphic Design</h5>
                                <h5 class="solution-title-2">Visuals That Speak Volumes.</h5>
                                <h5 class="solution-title-3">From print to digital, our graphic design services amplify your brand’s presence, ensuring your message resonates and engages your audience like never before.</h5>
                              </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card solution-card-1" style="max-width: 23.75rem;">
                              <div class="bg-cover" style="background-image: url('static/images/sol3.jpg');"></div>
                            <div class="card-body p-0">
                                <h5 class="solution-title-1">Dedicated Design Team</h5>
                                <h5 class="solution-title-2">Your Brand. Our Focus.</h5>
                                  <h5 class="solution-title-3">Partner with VGDS Global’s dedicated design team, who immerse themselves in your brand, ensuring consistency and exceptional quality across every project.</h5>
                            </div>
                            </div>
                        </div>
                    </div>
                  </div>
              </div>
            </div>
        </div>



        <div class="white-section">
            <div class="card trust-card">
                <div class="container p-0">
                    <div class="card-body p-0 card-body-1">
                        <div class="row row-cols-1 row-cols-md-2 g-4">
                            <div class="col">
                                <div class="card about-1-card" style="max-width: 36.25rem;">
<!--                                    <div class="card-body p-0">-->
<!--                                    <p class="about-1-title">About VGDS Global: Where Design Meets Impact</p>-->
<!--                                    </div>-->
                                  <div class="bg-cover-about-1" style="background-image: url('static/images/vgds1.jpg');"></div>
                                </div>
                            </div>
                            <div class="col d-flex align-items-center justify-content-center">
                                <div class="card about-1-card" style="max-width: 40rem;">
                                    <div class="card-body p-0">
                                        <h5 class="about-2-title">At  <span class="highlight-on-scroll" id="highlightedText">  Visual Graphics Design Services  </span> ,
                                            we don’t just create presentations—we craft visual stories that inform, inspire, and persuade.
                                        </h5>
                                        <p class="about-3-title">With over 15 years of experience designing for top firms like McKinsey & Co., BCG, EY and Deloitte,
                                            we know what it takes to make an impact. We blend sharp storytelling with expert design, ensuring every slide is clear,
                                            compelling, and memorable. Our team isn’t just skilled—we’re obsessed with turning ideas into powerful visuals that leave
                                            a lasting impression. Whether it’s a high-stakes pitch, a boardroom presentation or an investor deck, we transform content
                                            into captivating narratives that drive results.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="section-3 white-section">
            <div class="card solution-card">
                <div class="container">
                    <div class="card ceo-card text-center d-flex justify-content-center align-items-center">
                         <div class="card-body p-0">
                            <h5 class="ceo-text">With 15+ years designing for firms like McKinsey, BCG, EY, and Deloitte,
                                we know how to make an impact. We combine <span>sharp storytelling</span> with expert design to craft slides
                                that are clear, compelling, and unforgettable—perfect for pitches, boardrooms, or investor decks.
                            </h5>
                            <div class="ceo-profile d-flex align-items-center">
                                <img src="{% static 'images/i1.png' %}" class="rounded-circle me-3" alt="Profile Image" width="60" height="60">
                                <div class="text-start">
                                    <h6 class="mb-0 fw-bold">Jeslin Mathews Rajan</h6>
                                    <small class="text-muted fst-italic">CEO, VGDS Global</small>
                                </div>
                            </div>
                          </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="white-section">
            <div class="card trust-card">
              <div class="container p-0">
                  <div class="card-body p-0 card-body-1">
                    <div class="card border-0 rounded-0 bg-transparent" style="margin-bottom: 3.5rem;">
                      <div class="card-body p-0 d-flex flex-column flex-md-row justify-content-between align-items-start align-items-md-center ">
                        <h5 class="solution-title mb-2 mb-md-0">Services we Offer</h5>
                        <a class="learn-link d-inline-flex align-items-center" href="{% url 'projectapp:solutions' %}">
                          Learn More
                          <img src="static/icons/Frame1.svg" alt="Arrow" class="ms-2" width="20" height="20">
                        </a>
                      </div>
                    </div>
                    <div class="row row-cols-1 row-cols-md-3 g-5">
                        <div class="col">
                            <div class="card solution-card-1" style="max-width: 23.75rem;">
                              <div class="bg-cover" style="background-image: url('static/images/serv1.jpg');"></div>
                              <div class="card-body p-0">
                                <h5 class="solution-title-1">Presentation Experts on Demand</h5>
                                <h5 class="solution-title-2">Expert Designs. Anytime You Need Them.</h5>
                                <a class="learn-more d-inline-flex align-items-center" href="{% url 'projectapp:solutions' %}#presentation-experts-on-demand">
                                  Learn More
                                  <img src="static/icons/Frame23.svg" alt="Arrow" class="ms-2" width="20" height="20">
                                </a>
                              </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card solution-card-1" style="max-width: 23.75rem;">
                              <div class="bg-cover" style="background-image: url('static/images/serv2.jpg');"></div>
                              <div class="card-body p-0">
                                <h5 class="solution-title-1">Overnight Presentations</h5>
                                <h5 class="solution-title-2">Stunning Designs. Lightning-Fast Delivery.</h5>
                                <a class="learn-more d-inline-flex align-items-center" href="{% url 'projectapp:solutions' %}#overnight-presentation">
                                  Learn More
                                  <img src="static/icons/Frame23.svg" alt="Arrow" class="ms-2" width="20" height="20">
                                </a>
                              </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card solution-card-1" style="max-width: 23.75rem;">
                              <div class="bg-cover" style="background-image: url('static/images/serv3.jpg');"></div>
                            <div class="card-body p-0">
                                <h5 class="solution-title-1">Dedicated Design Team Subscription</h5>
                                <h5 class="solution-title-2">Expert Design Support Tailored to Your Brand</h5>
                                <a class="learn-more d-inline-flex align-items-center" href="{% url 'projectapp:solutions' %}#dedicated-design-team-subscription">
                                  Learn More
                                  <img src="static/icons/Frame23.svg" alt="Arrow" class="ms-2" width="20" height="20">
                                </a>
                            </div>
                            </div>
                        </div>
                    </div>
                  </div>
              </div>
            </div>
        </div>




        <div class="white-section">
            <div class="card why-card">
                <div class="container p-0" id="why-VGDS">
                    <div class="card-body p-0 d-flex flex-column flex-md-row justify-content-between align-items-start align-items-md-center card-body-1" style="margin-bottom: 5.5rem;">
                        <h5 class="why-title mb-2 mb-md-0">Why VGDS?</h5>
                        <a class="learn-more-1 d-inline-flex align-items-center" href="#">
                          More about the company
                          <img src="static/icons/Frame1.svg" alt="Arrow" class="ms-2 invert-arrow" width="20" height="20">
                        </a>
                    </div>
                    <div class="card-body p-0 card-body-1">
                        <div class="row row-cols-1 row-cols-md-3 g-3 why-row" style="">

                            <!-- Accordion -->
                            <div class="col-md-5">
                                <div class="accordion accordion-flush" id="accordionFlushExample">
                                  <div class="accordion-item-why">
                                    <h2 class="accordion-header">
                                      <button class="accordion-button-why collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                        Save Time
                                      </button>
                                    </h2>
                                    <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                                      <div class="accordion-body-why">Focus on what you do best – we’ll handle the design. Leave your graphic needs to our expert team and reclaim your time.</div>
                                    </div>
                                  </div>
                                  <div class="accordion-item-why">
                                    <h2 class="accordion-header">
                                      <button class="accordion-button-why collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                                        Professional Design
                                      </button>
                                    </h2>
                                    <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                                      <div class="accordion-body-why">Get top-tier designs from former McKinsey, BCG, EY and Deloitte specialists. Expect nothing less than exceptional results.</div>
                                    </div>
                                  </div>
                                  <div class="accordion-item-why">
                                    <h2 class="accordion-header">
                                      <button class="accordion-button-why collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                                        Confidentiality
                                      </button>
                                    </h2>
                                    <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                                      <div class="accordion-body-why">Your data is safe with us. Trusted by leading consulting firms, we strictly follow NDA and use advanced encryption to ensure complete confidentiality.</div>
                                    </div>
                                  </div>
                                  <div class="accordion-item-why">
                                    <h2 class="accordion-header">
                                      <button class="accordion-button-why collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                                        Cost Efficiency
                                      </button>
                                    </h2>
                                    <div id="flush-collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                                      <div class="accordion-body-why">We create high-quality designs at a fraction of the cost. Save more compared to hiring expensive in-house resources.</div>
                                    </div>
                                  </div>
                                  <div class="accordion-item-why">
                                    <h2 class="accordion-header">
                                      <button class="accordion-button-why collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                                        Fast Delivery
                                      </button>
                                    </h2>
                                    <div id="flush-collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                                      <div class="accordion-body-why">Need it fast? Our overnight turnaround keeps you ahead, delivering quality designs when you need them.</div>
                                    </div>
                                  </div>
                                </div>
                            </div>

                            <div class="col-md-2"></div>

                            <!-- Lottie Player -->
                            <div class="col-md-5 d-flex justify-content-center align-items-center mt-0">
                                <div class="lottie-wrapper w-100 text-center">
                                <dotlottie-player id="whyLottie" src="https://lottie.host/ecc5057f-d7f7-4469-a206-9a15ef2f5d1b/mtuqjS5ncv.lottie" background="transparent" speed="1.2" style="max-width: 100%; height: auto;"  loop  autoplay></dotlottie-player>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



<!--        <div class="white-section">-->
<!--            <div class="card why-card">-->
<!--              <div class="container p-0">-->
<!--                  <div class="card-body p-0 card-body-1">-->
<!--                    <h5 class="why-title">Why Us</h5>-->
<!--                      <div class="row row-cols-1 row-cols-md-3 g-3 why-row" style="margin-bottom: 6.81rem;">-->
<!--                          <div class="col">-->
<!--                            <div class="card why-card-1" style="max-width: 23.75rem;">-->
<!--                              <dotlottie-player src="https://lottie.host/1dfbb651-8208-4e8f-ac33-1aa6f49f287c/QsNtxOS3cZ.lottie" background="transparent" speed="1"  style="width: 4rem; height: 4rem; margin-bottom: 1.25rem;"  loop  autoplay></dotlottie-player>-->
<!--&lt;!&ndash;                              <img src="static/icons/clock.svg" class="why-icon" alt="...">&ndash;&gt;-->
<!--                              <div class="card-body p-0">-->
<!--                                <h5 class="why-title-1">Save Time</h5>-->
<!--                                <p class="why-title-2">Focus on what you do best – we’ll handle the design. Leave your graphic needs to our expert team and reclaim your time.</p>-->
<!--                              </div>-->
<!--                            </div>-->
<!--                          </div>-->
<!--                          <div class="col">-->
<!--                              <div class="card why-card-1" style="max-width: 23.75rem;">-->
<!--                              <img src="static/icons/file-badge.svg" class="why-icon" alt="...">-->
<!--                              <div class="card-body p-0">-->
<!--                                <h5 class="why-title-1">Professional Design</h5>-->
<!--                                <p class="why-title-2">Get top-tier designs from former McKinsey, BCG, EY and Deloitte specialists. Expect nothing less than exceptional results.</p>-->
<!--                              </div>-->
<!--                            </div>-->
<!--                          </div>-->
<!--                          <div class="col">-->
<!--                            <div class="card why-card-1" style="max-width: 23.75rem;">-->
<!--                              <img src="static/icons/shield-check.svg" class="why-icon" alt="...">-->
<!--                              <div class="card-body p-0">-->
<!--                                <h5 class="why-title-1">Confidentiality</h5>-->
<!--                                <p class="why-title-2">Your data is safe with us. Trusted by leading consulting firms, we strictly follow NDA and use advanced encryption to ensure complete confidentiality.</p>-->
<!--                              </div>-->
<!--                            </div>-->
<!--                          </div>-->
<!--                      </div>-->
<!--                      <div class="row g-4 justify-content-center">-->
<!--                          <div class="col-md-4">-->
<!--                              <div class="card why-card-1" style="max-width: 23.75rem;">-->
<!--                              <img src="static/icons/circle-dollar-sign.svg" class="why-icon" alt="...">-->
<!--                              <div class="card-body p-0">-->
<!--                                <h5 class="why-title-1">Cost Efficiency</h5>-->
<!--                                <p class="why-title-2">We create high-quality designs at a fraction of the cost. Save more compared to hiring expensive in-house resources.</p>-->
<!--                              </div>-->
<!--                            </div>-->
<!--                          </div>-->
<!--                          <div class="col-md-4">-->
<!--                              <div class="card why-card-1" style="max-width: 23.75rem;">-->
<!--                              <img src="static/icons/zap.svg" class="why-icon" alt="...">-->
<!--                              <div class="card-body p-0">-->
<!--                                <h5 class="why-title-1">Fast Delivery</h5>-->
<!--                                <p class="why-title-2">Need it fast? Our overnight turnaround keeps you ahead, delivering quality designs when you need them.</p>-->
<!--                              </div>-->
<!--                            </div>-->
<!--                          </div>-->
<!--                        </div>-->
<!--                  </div>-->
<!--              </div>-->
<!--            </div>-->
<!--        </div>-->

        <div class="white-section" id="faq-section">
            <div class="card faq-card">
                <div class="container p-0">
                    <div class="card-body p-0 card-body-1">
                        <div class="row g-2">
                            <div class="col-md-6"><h5 class="faq-title">Frequently<br> Asked Questions</h5></div>

                            <div class="col-md-6">

                                <div class="faq-wrapper" id="faqWrapper">
                                <div class="accordion transition-expand" id="faqAccordion">
                                    <div id="faq-container">
                                        {% for faq in faqs %}
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="heading{{ forloop.counter }}">
                                                <button class="accordion-button {% if not forloop.first %}collapsed{% endif %}" type="button"
                                                        data-bs-toggle="collapse" data-bs-target="#collapse{{ forloop.counter }}"
                                                        aria-expanded="{% if forloop.first %}true{% else %}false{% endif %}">
                                                    {{ faq.question }}
                                                </button>
                                            </h2>
                                            <div id="collapse{{ forloop.counter }}" class="accordion-collapse collapse {% if forloop.first %}show{% endif %}"
                                                 data-bs-parent="#faqAccordion">
                                                <div class="accordion-body">
                                                    {{ faq.answer }}
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                                </div>

                                <div class="text-center">
                                    <button class="learn-more-1 d-inline-flex align-items-center" id="load-more">
                                    Load More
                                  <img src="static/icons/down.svg" alt="Arrow" class="ms-2" width="20" height="20">
                                </button>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="white-section">
            <div class="card trust-card">
                <div class="container p-0">
                    <div class="card-body p-0">
                        <h5 class="process-title text-center">Our Process</h5>

                            <div class="process-wrapper">
                              <div class="timeline-line"></div>
                              <div class="timeline-indicator" id="bubble"></div>


                              <!-- STEP 1 -->
                              <div class="timeline-step" data-step>
                                <div class="left-step">
                                  <h5 class="process-head-1">Content Submission</h5>
                                  <p class="process-head-2">Send us your draft in any format – PPT, Word, or even email. We take it from there.</p>
                                </div>
                                  <div class="timeline-dot"></div>
                                <div class="right-step"></div>
                              </div>

                              <!-- STEP 2 -->
                              <div class="timeline-step" data-step>
                                <div class="left-step"></div>
                                  <div class="timeline-dot"></div>
                                <div class="right-step">
                                  <h5 class="process-head-1">Pricing & Timeline</h5>
                                  <p class="process-head-2">Our project manager connects with you to finalize pricing and set clear timelines.</p>
                                </div>
                              </div>

                              <!-- STEP 3 -->
                              <div class="timeline-step" data-step>
                                <div class="left-step">
                                  <h5 class="process-head-1">Sample Slides</h5>
                                  <p class="process-head-2">We create engaging sample slides for your review and feedback.</p>
                                </div>
                                  <div class="timeline-dot"></div>
                                <div class="right-step"></div>
                              </div>

                              <!-- STEP 4 -->
                              <div class="timeline-step" data-step>
                                <div class="left-step"></div>
                                  <div class="timeline-dot"></div>
                                <div class="right-step">
                                  <h5 class="process-head-1">Revisions & Feedback</h5>
                                  <p class="process-head-2">We refine the slides based on your feedback, ensuring everything meets your expectations.</p>
                                </div>
                              </div>

                              <!-- STEP 3 -->
                              <div class="timeline-step" data-step>
                                <div class="left-step">
                                  <h5 class="process-head-1">Final Delivery</h5>
                                  <p class="process-head-2">After thorough checks and final edits, we deliver a polished presentation that makes an impact.</p>
                                </div>
                                  <div class="timeline-dot"></div>
                                <div class="right-step"></div>
                              </div>

                            </div>



                    </div>
                </div>
            </div>
        </div>


<!--        <div class="white-section">-->
<!--            <div class="card newsletter-card">-->
<!--                <div class="container p-0">-->
<!--                    <div class="card-body newsletter-body p-0 card-body-1">-->
<!--                        <div class="row align-items-center">-->
<!--                            <div class="col-md-8">-->
<!--                                <div class="card card-news">-->
<!--                                  <div class="card-body">-->
<!--                                    <h5 class="news-title">Find out how much your presentation costs</h5>-->
<!--                                    <h6 class="news-title-1">Our team of experts is ready to design solutions tailored to your unique business challenges.</h6>-->
<!--                                    <div class="button-group">-->
<!--                                        <button type="button" class="btn launch-button">Launch Wizard</button>-->
<!--                                        <a  class="btn pricing-link">See Pricing</a>-->
<!--                                    </div>-->
<!--                                  </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="col-md-4">-->
<!--                                <div class="news-bg-cover" style="background-image: url('static/images/123.png');"></div>-->
<!--                            </div>-->
<!--                        </div>-->

<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->


      {% endblock %}






<!--<div class="accordion" id="faqAccordion">-->
<!--  <div class="accordion-item">-->
<!--    <h2 class="accordion-header" id="headingOne">-->
<!--      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true">-->
<!--        Do you write the content for the presentation as well?-->
<!--      </button>-->
<!--    </h2>-->
<!--    <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#faqAccordion">-->
<!--      <div class="accordion-body">-->
<!--        From web development to software solutions, CRM development, and networking services, we provide comprehensive support to cover all your digital needs.-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->

<!--  <div class="accordion-item">-->
<!--    <h2 class="accordion-header" id="headingTwo">-->
<!--      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo">-->
<!--        Will I receive an editable PowerPoint file?-->
<!--      </button>-->
<!--    </h2>-->
<!--    <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#faqAccordion">-->
<!--      <div class="accordion-body">-->
<!--        Yes, you'll receive a fully editable PowerPoint file tailored to your brand.-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->

<!--  <div class="accordion-item">-->
<!--    <h2 class="accordion-header" id="headingThree">-->
<!--      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree">-->
<!--        How long does it take to design a 20-slide presentation?-->
<!--      </button>-->
<!--    </h2>-->
<!--    <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#faqAccordion">-->
<!--      <div class="accordion-body">-->
<!--        Typically 3–5 business days depending on complexity and revisions.-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->

<!--  <div class="accordion-item">-->
<!--    <h2 class="accordion-header" id="headingFour">-->
<!--      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour">-->
<!--        Can you sign an NDA for my confidential project?-->
<!--      </button>-->
<!--    </h2>-->
<!--    <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#faqAccordion">-->
<!--      <div class="accordion-body">-->
<!--        Absolutely! We’re happy to sign an NDA to protect your confidential information.-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->

<!--  <div class="accordion-item">-->
<!--    <h2 class="accordion-header" id="headingFive">-->
<!--      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive">-->
<!--        Can you meet tight deadlines?-->
<!--      </button>-->
<!--    </h2>-->
<!--    <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#faqAccordion">-->
<!--      <div class="accordion-body">-->
<!--        Yes, we offer express services for urgent presentation needs.-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->



<!--  <div class="header">-->
<!--            <div class="card text-bg-dark hero-card d-flex justify-content-center align-items-center">-->
<!--              <div class="card-img-overlay ">-->
<!--                <div class="row align-items-center w-100">-->
<!--                    &lt;!&ndash; Left Side &ndash;&gt;-->
<!--                    <div class="col-md-6">-->
<!--                        <div class="card hero-head-card">-->
<!--                          <div class="card-body p-0">-->
<!--                            <h5 class="hero-card-title mb-4">Impactful Designs. Powerful Presentations. Game-Changing Results.</h5>-->
<!--                            <h6 class="hero-card-subtitle">-->
<!--                                At Visual Graphics Design Services Global, we craft stunning, high-impact presentations that captivate-->
<!--                                and persuade. Our expert designers deliver top-tier quality—fast, affordable, and hassle-free.-->
<!--                                From pitch decks to corporate reports, we turn content into compelling visuals that make every slide stand out.-->
<!--                            </h6>-->

<!--                            <div class="button-group">-->
<!--                                <button type="button" class="btn order-button">Order Now</button>-->
<!--                                <button type="button" class="btn enquiry-button">Submit Enquiry</button>-->
<!--                            </div>-->

<!--                          </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="col-md-6 d-none d-md-flex flex-column align-items-end p-0">-->

<!--                        <div class="row">-->
<!--                            <div class="col-6 d-flex flex-column align-items-end">-->
<!--                                <div class="swiper mySwiper mx-0">-->
<!--                                  <div class="swiper-wrapper">-->
<!--                                    <div class="swiper-slide"><img src="static/images/dum.jpg" alt=""></div>-->
<!--                                    <div class="swiper-slide"><img src="static/images/image2.jpg" alt=""></div>-->
<!--                                    <div class="swiper-slide"><img src="static/images/image3.jpg" alt=""></div>-->
<!--                                      <div class="swiper-slide"><img src="static/images/image4.jpg" alt=""></div>-->
<!--                                      <div class="swiper-slide"><img src="static/images/image5.jpg" alt=""></div>-->
<!--                                    <div class="swiper-slide"><img src="static/images/image6.jpg" alt=""></div>-->
<!--                                    <div class="swiper-slide"><img src="static/images/image4.jpg" alt=""></div>-->
<!--                                      <div class="swiper-slide"><img src="static/images/image2.jpg" alt=""></div>-->
<!--                                  </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="col-6 d-flex flex-column align-items-end">-->
<!--                                <div class="swiper mySwiper2 mx-0">-->
<!--                                  <div class="swiper-wrapper">-->
<!--                                    <div class="swiper-slide"><img src="static/images/image3.jpg" alt=""></div>-->
<!--                                    <div class="swiper-slide"><img src="static/images/image5.jpg" alt=""></div>-->
<!--                                    <div class="swiper-slide"><img src="static/images/image6.jpg" alt=""></div>-->
<!--                                      <div class="swiper-slide"><img src="static/images/image2.jpg" alt=""></div>-->
<!--                                      <div class="swiper-slide"><img src="static/images/image3.jpg" alt=""></div>-->
<!--                                    <div class="swiper-slide"><img src="static/images/image4.jpg" alt=""></div>-->
<!--                                    <div class="swiper-slide"><img src="static/images/image5.jpg" alt=""></div>-->
<!--                                      <div class="swiper-slide"><img src="static/images/image6.jpg" alt=""></div>-->
<!--                                  </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->

<!--                    </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--      </div>-->