{% extends 'base.html' %}
{% load static %}

{% block title %}Order Now - VGDS{% endblock %}

      {% block content %}



        <div class="card order-section">
          <div class="card-body">

              <!-- Step 1: Treatment -->
                <section id="step-1" class="wizard-step active">
                  <div class="modal-dialog modal-dialog-centered custom-modal-width" > <!--custom-modal-width-->
                    <div class="modal-content" style="padding: 3.5rem 6.5rem;"> <!---->
                      <div class="modal-header border-0">
                        <h5 class="modal-title">Presentation Wizard</h5>
                        <button type="button" class="btn-close"  aria-label="Close"></button>
                      </div>
                      <div class="modal-body px-0">

                        <div class="row">

                          <!--Stepper-->
                          <div class="col-md-3 pe-md-4">
                            <div class="stepper">

                              <div class="stepper-line"></div>

                              <div class="step active">
                                <div class="circle">1</div>
                                <div class="step-content">
                                  <div class="step-title">Treatment</div>
                                  <div class="step-desc">Decide what you want to achieve</div>
                                </div>
                              </div>
                              <div class="step">
                                <div class="circle">2</div>
                                <div class="step-content">
                                  <div class="step-title">Style</div>
                                  <div class="step-desc">Choose a style that fits your needs</div>
                                </div>
                              </div>
                              <div class="step">
                                <div class="circle">3</div>
                                <div class="step-content">
                                  <div class="step-title">Delivery</div>
                                  <div class="step-desc">Step Description</div>
                                </div>
                              </div>
                              <div class="step">
                                <div class="circle">4</div>
                                <div class="step-content">
                                  <div class="step-title">Files and Details</div>
                                  <div class="step-desc">Step Description</div>
                                </div>
                              </div>
                              <div class="step">
                                <div class="circle">5</div>
                                <div class="step-content">
                                  <div class="step-title">Payment</div>
                                  <div class="step-desc">Step Description</div>
                                </div>
                              </div>
                            </div>
                          </div>

                          <!-- Main Step Content -->
                          <div class="col-md-9 "> <!--ps-md-5-->
                            <h1 class="treat-title">Select your Treatment</h1>

                            <div class="row mt-4">
                              <div class="col-md-4 mb-4">
                                <div class="card treatment-card h-100 active">
                                  <div class="card-icon">
                                    <img src="{% static 'icons/lightbulb.svg' %}" alt="icon">
                                  </div>
                                  <div class="card-body p-0">
                                    <p class="treat-title-1">Let us decide</p>
                                    <p class="treat-title-2">Let our designers choose the best treatment for your presentation.</p>
                                    <p class="treat-title-3"><span class="treat-price">$ 11-44</span> per slide</p>
                                  </div>
                                </div>
                              </div>
                              <div class="col-md-4 mb-4">
                                <div class="card treatment-card h-100">
                                  <div class="card-icon">
                                    <img src="{% static 'icons/wrench.svg' %}" alt="icon">
                                  </div>
                                  <div class="card-body p-0">
                                    <p class="treat-title-1">Fix up</p>
                                    <p class="treat-title-2">Let our designers choose the best treatment for your presentation.</p>
                                    <p class="treat-title-3"><span class="treat-price">$ 11</span> per slide</p>
                                  </div>
                                </div>
                              </div>
                              <div class="col-md-4 mb-4">
                                <div class="card treatment-card h-100">
                                  <div class="card-icon">
                                    <img src="{% static 'icons/palette.svg' %}" alt="icon">
                                  </div>
                                  <div class="card-body p-0">
                                    <p class="treat-title-1">Redesign</p>
                                    <p class="treat-title-2">Let our designers choose the best treatment for your presentation.</p>
                                    <p class="treat-title-3"><span class="treat-price">$ 28</span> per slide</p>
                                  </div>
                                </div>
                              </div>
                              <div class="col-md-4 mb-4">
                                <div class="card treatment-card h-100">
                                  <div class="card-icon">
                                    <img src="{% static 'icons/brush.svg' %}" alt="icon">
                                  </div>
                                  <div class="card-body p-0">
                                    <p class="treat-title-1">Redraw</p>
                                    <p class="treat-title-2">Let our designers choose the best treatment for your presentation.</p>
                                    <p class="treat-title-3"><span class="treat-price">$ 28</span> per slide</p>
                                  </div>
                                </div>
                              </div>
                              <div class="col-md-4 mb-4">
                                <div class="card treatment-card h-100">
                                  <div class="card-icon">
                                    <img src="{% static 'icons/sparkles.svg' %}" alt="icon">
                                  </div>
                                  <div class="card-body p-0">
                                    <p class="treat-title-1">Additional Design Services</p>
                                    <p class="treat-title-2">Let our designers choose the best treatment for your presentation.</p>
                                    <p class="treat-title-3"><span class="treat-price">$ 44</span> per slide</p>
                                  </div>
                                </div>
                              </div>
                            </div>

                          </div>

                        </div>

                      </div>
                      <div class="modal-footer">

                        <div class="row w-100">
                          <div class="col-md-6">
                            <div class="price-info d-flex align-items-center gap-3">
                              <div class="price-range">$11 – 44</div>
                              <div class="price-info-other">
                                <div class="text-muted">Estimated Price</div>
                                <a href="#" class="small text-primary text-decoration-none">What does this mean?</a>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-6 d-flex justify-content-end gap-2 align-items-center">
                            <button class="btn previous-btn-disabled" data-bs-target="#orderModalTreatment" data-bs-toggle="modal">Previous</button>
                            <button class="btn next-btn">Next</button>
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>
                </section>

              <!-- Step 2: Delivery -->
              <section id="step-2" class="wizard-step">

                <div class="modal-dialog modal-dialog-centered custom-modal-width" > <!--custom-modal-width-->
                <div class="modal-content" style="padding: 3.5rem 6.5rem;"> <!---->
                  <div class="modal-header border-0">
                    <h5 class="modal-title">Presentation Wizard</h5>
                    <button type="button" class="btn-close"  aria-label="Close"></button>
                  </div>
                  <div class="modal-body px-0">

                    <div class="row">

                      <!--Stepper-->
                      <div class="col-md-3 pe-md-4">
                        <div class="stepper">

                          <div class="stepper-line"></div>

                          <div class="step active">
                            <div class="circle">1</div>
                            <div class="step-content">
                              <div class="step-title">Treatment</div>
                              <div class="step-desc">Decide what you want to achieve</div>
                            </div>
                          </div>
                          <div class="step active">
                            <div class="circle">2</div>
                            <div class="step-content">
                              <div class="step-title">Style</div>
                              <div class="step-desc">Choose a style that fits your needs</div>
                            </div>
                          </div>
                          <div class="step active">
                            <div class="circle">3</div>
                            <div class="step-content">
                              <div class="step-title">Delivery</div>
                              <div class="step-desc">Step Description</div>
                            </div>
                          </div>
                          <div class="step">
                            <div class="circle">4</div>
                            <div class="step-content">
                              <div class="step-title">Files and Details</div>
                              <div class="step-desc">Step Description</div>
                            </div>
                          </div>
                          <div class="step">
                            <div class="circle">5</div>
                            <div class="step-content">
                              <div class="step-title">Payment</div>
                              <div class="step-desc">Step Description</div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <!-- Main Step Content -->
                      <div class="col-md-9 "> <!--ps-md-5-->

                        <div class="card delivery-card">
                          <div class="card-body p-0">
                            <h1 class="delivery-title">How many slides would you like designed?</h1>
                            <div class="number-input">
                              <button class="minus p-0">-</button>
                              <input type="text" value="34" class="number-value">
                              <button class="plus p-0">+</button>
                            </div>
                          </div>
                        </div>

                        <div class="card delivery-card" style="margin-top: 3.5rem;">
                          <div class="card-body p-0">
                            <h1 class="delivery-title">How many slides would you like designed?</h1>
                            <h3 class="delivery-desc">The date shown is when the first draft is delivered. Revisions are done within 1 business day.
                              Price depends on your chosen deadline. Your first draft will be delivered before <span class="delivery-desc-1">21:00 on 8th April.</span>
                            </h3>
                            <div class="d-flex gap-3 flex-wrap">
                                <div class="card date-card active">
                                  <div class="card-body d-flex flex-column align-items-center justify-content-center">
                                    <h1 class="date-title text-center">08 Apr</h1>
                                    <h3 class="date-subtitle text-center">$16-$66 per slide</h3>
                                  </div>
                                </div>
                                <div class="card date-card active">
                                  <div class="card-body d-flex flex-column align-items-center justify-content-center">
                                    <h1 class="date-title text-center">09 Apr</h1>
                                    <h3 class="date-subtitle text-center">$13-$54 per slide</h3>
                                  </div>
                                </div>
                                <div class="card date-card active">
                                  <div class="card-body d-flex flex-column align-items-center justify-content-center">
                                    <h1 class="date-title text-center">10 Apr</h1>
                                    <h3 class="date-subtitle text-center">$11-$44 per slide</h3>
                                  </div>
                                </div>
                            </div>
                          </div>
                        </div>

                        <div class="card delivery-card" style="margin-top: 3.5rem;">
                          <div class="card-body p-0">
                            <h1 class="delivery-title">Need our wordsmiths to banish typos?(optional)</h1>
                            <h3 class="delivery-desc">Please note that we only offer this service in English. If you do not select proofreading or
                              editing, we will not make any changes to your content. This includes things like typos or spacing errors.
                            </h3>

                            <div class="d-flex gap-3 flex-wrap">

                              <div class="card delivery-card-1">
                                <div class="row g-0">
                                  <div class="col-md-2">
                                    <img src="{% static 'icons/search-check.svg' %}" class="img-fluid rounded-start" alt="...">
                                  </div>
                                  <div class="col-md-10">
                                    <div class="card-body p-0">
                                      <h5 class="delivery-title-1">Proofreading</h5>
                                      <h5 class="delivery-title-2">We check your content for grammar and misspelling. </h5>
                                      <h5 class="delivery-title-3"><span class="delivery-title-4">$ 1</span> per side</h5>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="card delivery-card-1">
                                <div class="row g-0">
                                  <div class="col-md-2">
                                    <img src="{% static 'icons/pencil.svg' %}" class="img-fluid rounded-start" alt="...">
                                  </div>
                                  <div class="col-md-10">
                                    <div class="card-body p-0">
                                      <h5 class="delivery-title-1">Editing</h5>
                                      <h5 class="delivery-title-2">We rewrite any content on your slides that is unclear. </h5>
                                      <h5 class="delivery-title-3"><span class="delivery-title-4">$ 3</span> per side</h5>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="card delivery-card-1">
                                <div class="row g-0">
                                  <div class="col-md-2">
                                    <img src="{% static 'icons/ban.svg' %}" class="img-fluid rounded-start" alt="...">
                                  </div>
                                  <div class="col-md-10">
                                    <div class="card-body p-0">
                                      <h5 class="delivery-title-1">No Thanks</h5>
                                      <h5 class="delivery-title-2">My contented is vetted and I don’t need proofreading/editing.</h5>
                                    </div>
                                  </div>
                                </div>
                              </div>

                            </div>
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>

                  <div class="modal-footer">

                    <div class="row w-100">
                      <div class="col-md-6">
                        <div class="price-info d-flex align-items-center gap-3">
                          <div class="price-range">$374- 1496</div>
                          <div class="price-info-other">
                            <div class="text-muted">Estimated Price</div>
                            <a href="#" class="small text-primary text-decoration-none">What does this mean?</a>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6 d-flex justify-content-end gap-2 align-items-center">
                        <button class="btn previous-btn" data-bs-target="#orderModalStyle" data-bs-toggle="modal" data-bs-dismiss="modal">Previous</button>
                        <button class="btn next-btn">Next</button>
                      </div>
                    </div>

                  </div>
                </div>
              </div>

              </section>

          </div>
        </div>



{% block footer %}
  {# Do not include footer on this page #}
{% endblock %}

    {% endblock %}