{% extends 'base.html' %}
{% load static %}

{% block title %}Our Works - VGDS{% endblock %}

{% block content %}

<!--Other Navbar  -->

<nav class="navbar navbar-expand-lg fixed-top navbar-secondary">
  <div class="container">
    <a class="navbar-brand" href="{% url 'projectapp:home' %}">
        <!-- White logo (default) -->
        <img src="{% static 'images/vgds-white-logo.png' %}" alt="Bootstrap" class="logo logo-white" id="navbarLogo">

        <!-- Colored logo (hidden initially) -->
        <img src="{% static 'images/vgds-logo-2.png' %}" class="logo logo-colored d-none" alt="Logo">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarText">
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{% url 'projectapp:ourWorks' %}">Our Work</a>
        </li>
        <li class="nav-item dropdown custom-dropdown">
          <a class="nav-link dropdown-toggle" href="{% url 'projectapp:services' %}">Services</a>
          <div class="dropdown-menu mega-dropdown-bg">
                <div class="row">
                  <div class="col-md-4">
                    <a href="{% url 'projectapp:presentation_design' %}" class="dropdown-card">
                      <img src="{% static 'images/sol1.jpg' %}" class="img-fluid" alt="Presentation Design">
                      <p class="dropdown-title-bg">Presentation Design</p>
                    </a>
                  </div>
                  <div class="col-md-4">
                    <a href="% url 'projectapp:graphics' %}" class="dropdown-card">
                      <img src="{% static 'images/sol2.jpg' %}" class="img-fluid" alt="Graphics & Print Design">
                      <p class="dropdown-title-bg">Graphics & Print Design</p>
                    </a>
                  </div>
                  <div class="col-md-4">
                    <a href="{% url 'projectapp:otherServices' %}" class="dropdown-card">
                      <img src="{% static 'images/sol3.jpg' %}" class="img-fluid" alt="Other Services">
                      <p class="dropdown-title-bg">Other Services</p>
                    </a>
                  </div>
                </div>
            </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'projectapp:solutions' %}">Solutions</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'projectapp:testimonials' %}">Testimonials</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'projectapp:pricing' %}">Pricing</a>
        </li>
<!--                <li class="nav-item">-->
<!--                  <a class="nav-link" href="#">About Us</a>-->
<!--                </li>-->
      </ul>

        <!-- Mobile Order Now button -->
      <div class="d-lg-none mt-3">
        <a href="{% url 'projectapp:orderFlow' %}" type="button" class="btn order-button-nav">Order Now</a>
      </div>

    </div>

    <!-- Order Now Button -->
    <div class="d-none d-lg-block">
      <a href="{% url 'projectapp:orderFlow' %}" type="button" class="btn order-button-nav">Order Now</a>
    </div>

  </div>
</nav>

<!--END NAVBAR-->

<div class="about-section white-section" style="">

<div class="card sub-service-hero service-top" style="background-image: url('{% static 'images/cover-other.jpg' %}'); background-size: cover; background-position: center; background-repeat: no-repeat;">
  <div class="container p-0">
    <div class="about-hero-textarea">
        <h6 class="about-hero-subtitle">Our Works</h6>
        <h5 class="about-hero-title">Work That Inspires.<br>  Impact That Lasts.</h5>
        <div class="about-hero-desc">
          <p class="about-hero-text">Explore a curated selection of our finest work — from visually striking presentations to strategic brand designs.
      At VGDS Global, each project is a testament to our commitment to creativity, precision, and results. We collaborate
      closely with clients across industries to turn ideas into powerful visual stories that drive engagement and deliver measurable value.
          </p>
        </div>
      </div>
  </div>
</div>

</div>

<div class="white-section">
  <div class="card our-work-card">

    <div class="container-fluid">
      <!--Button Group-->
      <div class="work-toggle mx-auto">
        <button id="all" class="active">All</button>
        <button id="brandingTemplates">Branding Templates</button>
        <button id="brochure">Brochure</button>
        <button id="businessPresentation">Business Presentation</button>
        <button id="companyProfile">Company profile</button>
        <button id="flyer">Flyer</button>
        <button id="graphicDesign">Graphic Design</button>
        <button id="pitchDeckDesign">Pitch Deck Design</button>
        <button id="powerpoint">Powerpoint</button>
        <button id="salesDesign">Sales Design</button>
      </div>
    </div>

    <!--All-->
    <div class="work-section" id="allWorks">
      <div class="container">
        <div class="row row-cols-1 row-cols-md-3 g-4">
          {% for work in works %}
            <div class="col">
              <div class="card work-card">
                <div class="work-img" style="background-image: url('{{ work.image.url }}');" ></div>
                <div class="card-body text-center">
                  <h5 class="team-name">{{ work.title }}</h5>
                  <h5 class="team-desc mt-0 mb-0">{{ work.get_category_display }}</h5>
                </div>
              </div>
            </div>
          {% endfor %}
      </div>
      </div>
    </div>

    <!--Brochure-->
    <div class="work-section" id="brochureWorks">
      <div class="container">
        <div class="row row-cols-1 row-cols-md-3 g-4">
          {% for work in works %}
            {% if work.category == "brochure" %}
              <div class="col">
                <div class="card work-card">
                  <div class="work-img" style="background-image: url('{{ work.image.url }}');" ></div>
                  <div class="card-body text-center">
                    <h5 class="team-name">{{ work.title }}</h5>
                    <h5 class="team-desc mt-0 mb-0">{{ work.get_category_display }}</h5>
                  </div>
                </div>
              </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>

    <!--Branding Templates-->
    <div class="work-section" id="brandingTemplatesWorks">
      <div class="container">
        <div class="row row-cols-1 row-cols-md-3 g-4">
          {% for work in works %}
            {% if work.category == "brandingTemplates" %}
              <div class="col">
                <div class="card work-card">
                  <div class="work-img" style="background-image: url('{{ work.image.url }}');" ></div>
                  <div class="card-body text-center">
                    <h5 class="team-name">{{ work.title }}</h5>
                    <h5 class="team-desc mt-0 mb-0">{{ work.get_category_display }}</h5>
                  </div>
                </div>
              </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>

    <!--Business Presentation-->
    <div class="work-section" id="businessPresentationWorks">
      <div class="container">
        <div class="row row-cols-1 row-cols-md-3 g-4">
          {% for work in works %}
            {% if work.category == "businessPresentation" %}
              <div class="col">
                <div class="card work-card">
                  <div class="work-img" style="background-image: url('{{ work.image.url }}');" ></div>
                  <div class="card-body text-center">
                    <h5 class="team-name">{{ work.title }}</h5>
                    <h5 class="team-desc mt-0 mb-0">{{ work.get_category_display }}</h5>
                  </div>
                </div>
              </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>

    <!--companyProfile-->
    <div class="work-section" id="companyProfileWorks">
      <div class="container">
        <div class="row row-cols-1 row-cols-md-3 g-4">
          {% for work in works %}
            {% if work.category == "companyProfile" %}
              <div class="col">
                <div class="card work-card">
                  <div class="work-img" style="background-image: url('{{ work.image.url }}');" ></div>
                  <div class="card-body text-center">
                    <h5 class="team-name">{{ work.title }}</h5>
                    <h5 class="team-desc mt-0 mb-0">{{ work.get_category_display }}</h5>
                  </div>
                </div>
              </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>

    <!--flyer-->
    <div class="work-section" id="flyerWorks">
      <div class="container">
        <div class="row row-cols-1 row-cols-md-3 g-4">
          {% for work in works %}
            {% if work.category == "flyer" %}
              <div class="col">
                <div class="card work-card">
                  <div class="work-img" style="background-image: url('{{ work.image.url }}');" ></div>
                  <div class="card-body text-center">
                    <h5 class="team-name">{{ work.title }}</h5>
                    <h5 class="team-desc mt-0 mb-0">{{ work.get_category_display }}</h5>
                  </div>
                </div>
              </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>

    <!--graphicDesign-->
    <div class="work-section" id="graphicDesignWorks">
      <div class="container">
        <div class="row row-cols-1 row-cols-md-3 g-4">
          {% for work in works %}
            {% if work.category == "graphicDesign" %}
              <div class="col">
                <div class="card work-card">
                  <div class="work-img" style="background-image: url('{{ work.image.url }}');" ></div>
                  <div class="card-body text-center">
                    <h5 class="team-name">{{ work.title }}</h5>
                    <h5 class="team-desc mt-0 mb-0">{{ work.get_category_display }}</h5>
                  </div>
                </div>
              </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>

    <!--powerpoint-->
    <div class="work-section" id="powerpointWorks">
      <div class="container">
        <div class="row row-cols-1 row-cols-md-3 g-4">
          {% for work in works %}
            {% if work.category == "powerpoint" %}
              <div class="col">
                <div class="card work-card">
                  <div class="work-img" style="background-image: url('{{ work.image.url }}');" ></div>
                  <div class="card-body text-center">
                    <h5 class="team-name">{{ work.title }}</h5>
                    <h5 class="team-desc mt-0 mb-0">{{ work.get_category_display }}</h5>
                  </div>
                </div>
              </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>

    <!--salesDesign-->
    <div class="work-section" id="salesDesignWorks">
      <div class="container">
        <div class="row row-cols-1 row-cols-md-3 g-4">
          {% for work in works %}
            {% if work.category == "salesDesign" %}
              <div class="col">
                <div class="card work-card">
                  <div class="work-img" style="background-image: url('{{ work.image.url }}');" ></div>
                  <div class="card-body text-center">
                    <h5 class="team-name">{{ work.title }}</h5>
                    <h5 class="team-desc mt-0 mb-0">{{ work.get_category_display }}</h5>
                  </div>
                </div>
              </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>

    <!--pitchDeckDesign-->
    <div class="work-section" id="pitchDeckDesignWorks">
      <div class="container">
        <div class="row row-cols-1 row-cols-md-3 g-4">
          {% for work in works %}
            {% if work.category == "pitchDeckDesign" %}
              <div class="col">
                <div class="card work-card">
                  <div class="work-img" style="background-image: url('{{ work.image.url }}');" ></div>
                  <div class="card-body text-center">
                    <h5 class="team-name">{{ work.title }}</h5>
                    <h5 class="team-desc mt-0 mb-0">{{ work.get_category_display }}</h5>
                  </div>
                </div>
              </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>


  </div>
</div>


      {% endblock %}