{% extends 'base.html' %}
{% load static %}

{% block title %}Pricing - VGDS{% endblock %}

{% block content %}

<!--Other Navbar  -->

<nav class="navbar navbar-expand-lg fixed-top navbar-secondary">
  <div class="container">
    <a class="navbar-brand" href="/">
        <!-- White logo (default) -->
        <img src="{% static 'images/vgds-white-logo.png' %}" alt="Bootstrap" class="logo logo-white" id="navbarLogo">

        <!-- Colored logo (hidden initially) -->
        <img src="{% static 'images/vgds-logo-2.png' %}" class="logo logo-colored d-none" alt="Logo">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarText">
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{% url 'projectapp:ourWorks' %}">Our Work</a>
        </li>
        <li class="nav-item dropdown custom-dropdown">
          <a class="nav-link dropdown-toggle" href="{% url 'projectapp:services' %}" >Services</a>
          <div class="dropdown-menu mega-dropdown-bg">
                <div class="row">
                  <div class="col-md-4">
                    <a href="{% url 'projectapp:presentation_design' %}" class="dropdown-card">
                      <img src="{% static 'images/sol1.jpg' %}" class="img-fluid" alt="Presentation Design">
                      <p class="dropdown-title-bg">Presentation Design</p>
                    </a>
                  </div>
                  <div class="col-md-4">
                    <a href="{% url 'projectapp:graphics' %}" class="dropdown-card">
                      <img src="{% static 'images/sol2.jpg' %}" class="img-fluid" alt="Graphics & Print Design">
                      <p class="dropdown-title-bg">Graphics & Print Design</p>
                    </a>
                  </div>
                  <div class="col-md-4">
                    <a href="{% url 'projectapp:otherServices' %}" class="dropdown-card">
                      <img src="{% static 'images/sol3.jpg' %}" class="img-fluid" alt="Other Services">
                      <p class="dropdown-title-bg">Other Services</p>
                    </a>
                  </div>
                </div>
            </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'projectapp:solutions' %}">Solutions</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'projectapp:testimonials' %}">Testimonials</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'projectapp:pricing' %}">Pricing</a>
        </li>
<!--                <li class="nav-item">-->
<!--                  <a class="nav-link" href="#">About Us</a>-->
<!--                </li>-->
      </ul>

        <!-- Mobile Order Now button -->
      <div class="d-lg-none mt-3">
        <a href="{% url 'projectapp:orderFlow' %}" type="button" class="btn order-button-nav">Order Now</a>
      </div>

    </div>

    <!-- Order Now Button -->
    <div class="d-none d-lg-block">
      <a href="{% url 'projectapp:orderFlow' %}" type="button" class="btn order-button-nav">Order Now</a>
    </div>

  </div>
</nav>

<!--END NAVBAR-->

<div class="white-section">

  <div class="card sub-service-hero" style="background-image: url('{% static 'images/cover-other.jpg' %}'); background-size: cover; background-position: center; background-repeat: no-repeat;">
    <div class="container p-0">
      <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col-md-10 d-flex align-items-center">
          <div class="card other-hero-card-pricing">
            <div class="card-body">
              <h1 class="sub-service-hero-title">Flexible Pricing, Maximum Value</h1>
              <h1 class="sub-service-hero-subtitle">Invest in Impactful Presentations</h1>
              <p class="sub-service-hero-pricing mb-5">
                Choose a pricing plan that fits your needs. Whether it's a one-time project or ongoing design support, we offer transparent and flexible options to help you present with confidence and style.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-2 d-flex align-items-center justify-content-center">
<!--                  <div class="card other-hero-card-img">-->
<!--                    <div class="inner-bg-div" style="background-image: url('{% static 'images/51435002.png' %}');"></div>-->
<!--                  </div>-->
        </div>
      </div>

    </div>
  </div>

</div>

<div class="white-section">
    <div class="card pricing-main-card">
        <h5 class="why-title mb-2 mb-md-0 text-center">Per-Slide Pricing</h5>

        <!--Button Group-->
        <div class="pricing-toggle mx-auto">
          <button id="24hr" class="active">24-Hour Delivery</button>
          <button id="48hr">48-Hour Delivery</button>
          <button id="72hr">72-Hour Delivery</button>
        </div>

        <!--24-Hour Delivery-->
        <div class="pricing-section" id="24hrPricing">
          <div class="container">
              <div class="row row-cols-1 row-cols-md-3 g-4">
                  <div class="col">
                      <div class="card pricing-card-1 h-100">
                          <div class="card-body p-0">
                            <h3 class="pricing-title-1">Fast Track</h3>
                            <h2 class="pricing-title-2">$12 <span>/slides</span></h2>
                            <p class="pricing-title-3">20 minutes/slide</p>
                            <div class="plan-features">
                                <div class="features"><img src="{% static 'icons/check1.svg' %}"><p>Alignment Check</p></div>
                                <div class="features"><img src="{% static 'icons/check1.svg' %}"><p>Consistency Check</p> </div>
                                <div class="features"><img src="{% static 'icons/check1.svg' %}"><p>Spacing Check</p> </div>
                                <div class="features"><img src="{% static 'icons/check1.svg' %}"><p>Adhere to Style Guide</p> </div>
                                <div class="features"><img src="{% static 'icons/x.svg' %}"><p>Re-do Design Elements</p> </div>
                                <div class="features"><img src="{% static 'icons/x.svg' %}"><p>Recreate Images to Slides</p> </div>
                                <div class="features"><img src="{% static 'icons/x.svg' %}"><p>Templates Creation</p> </div>
                                <div class="features"><img src="{% static 'icons/x.svg' %}"><p>Iconography</p> </div>
                                <div class="features"><img src="{% static 'icons/x.svg' %}"><p>Data Visualization</p> </div>
                                <div class="features"><img src="{% static 'icons/x.svg' %}"><p>Infographics</p> </div>
                                <div class="features"><img src="{% static 'icons/x.svg' %}"><p>Stock images</p> </div>
                                <div class="features"><img src="{% static 'icons/x.svg' %}"><p>Animation & Transition</p> </div>
                            </div>
                          </div>
                      </div>
                  </div>
                  <div class="col">
                      <div class="card pricing-card-2 h-100">
                          <div class="card-body p-0">
                            <div class="d-flex justify-content-between align-items-center">
                                <h3 class="pricing-title-w1">Standard</h3><button class="popular-btn">Popular</button>
                            </div>
                            <h2 class="pricing-title-w2">$22 <span>/slides</span></h2>
                            <p class="pricing-title-w3">40 minutes/slide</p>
                            <div class="plan-features">
                                <div class="features-w"><img src="{% static 'icons/whitecheck.svg' %}"><p>Alignment Check</p></div>
                                <div class="features-w"><img src="{% static 'icons/whitecheck.svg' %}"><p>Consistency Check</p> </div>
                                <div class="features-w"><img src="{% static 'icons/whitecheck.svg' %}"><p>Spacing Check</p> </div>
                                <div class="features-w"><img src="{% static 'icons/whitecheck.svg' %}"><p>Adhere to Style Guide</p> </div>
                                <div class="features-w"><img src="{% static 'icons/whitecheck.svg' %}"><p>Basic Redesign</p> </div>
                                <div class="features-w"><img src="{% static 'icons/whitecheck.svg' %}"><p>Standard Image to Slides</p> </div>
                                <div class="features-w"><img src="{% static 'icons/x.svg' %}"><p>Templates Creation</p> </div>
                                <div class="features-w"><img src="{% static 'icons/whitecheck.svg' %}"><p>Stock Iconography</p> </div>
                                <div class="features-w"><img src="{% static 'icons/x.svg' %}"><p>Data Visualization</p> </div>
                                <div class="features-w"><img src="{% static 'icons/whitecheck.svg' %}"><p>Basic Infographics</p> </div>
                                <div class="features-w"><img src="{% static 'icons/whitecheck.svg' %}"><p>Basic Stock images</p> </div>
                                <div class="features-w"><img src="{% static 'icons/whitecheck.svg' %}"><p>Basic Animation & Transition</p> </div>
                            </div>
                          </div>
                      </div>
                  </div>
                  <div class="col">
                      <div class="card pricing-card-1 h-100">
                          <div class="card-body p-0">
                            <h3 class="pricing-title-1">High Level Enhancement</h3>
                            <h2 class="pricing-title-2">$30 <span>/slides</span></h2>
                            <p class="pricing-title-3">60 minutes/slide</p>
                            <div class="plan-features">
                                <div class="features"><img src="{% static 'icons/check1.svg' %}"><p>Alignment Check</p></div>
                                <div class="features"><img src="{% static 'icons/check1.svg' %}"><p>Consistency Check</p> </div>
                                <div class="features"><img src="{% static 'icons/check1.svg' %}"><p>Spacing Check</p> </div>
                                <div class="features"><img src="{% static 'icons/check1.svg' %}"><p>Adhere to Style Guide</p> </div>
                                <div class="features"><img src="{% static 'icons/check1.svg' %}"><p>Re-do Design Elements</p> </div>
                                <div class="features"><img src="{% static 'icons/check1.svg' %}"><p>Recreate Images to Slides</p> </div>
                                <div class="features"><img src="{% static 'icons/check1.svg' %}"><p>Templates Creation</p> </div>
                                <div class="features"><img src="{% static 'icons/check1.svg' %}"><p>Iconography</p> </div>
                                <div class="features"><img src="{% static 'icons/check1.svg' %}"><p>Data Visualization</p> </div>
                                <div class="features"><img src="{% static 'icons/check1.svg' %}"><p>Infographics</p> </div>
                                <div class="features"><img src="{% static 'icons/check1.svg' %}"><p>Stock images</p> </div>
                                <div class="features"><img src="{% static 'icons/check1.svg' %}"><p>Animation & Transition</p> </div>
                            </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
        </div>
        <!--48-Hour Delivery-->
        <div class="pricing-section" id="48hrPricing" style="display: none;">
          <div class="container">
              <div class="row row-cols-1 row-cols-md-3 g-4">
                  <div class="col">
                      <div class="card pricing-card-1 h-100">
                          <div class="card-body p-0">
                            <h3 class="pricing-title-1">Fast Track</h3>
                            <h2 class="pricing-title-2">$10 <span>/slides</span></h2>
                            <p class="pricing-title-3">20 minutes/slide</p>
                            <div class="plan-features">
                                <div class="features"><img src="{% static 'icons/check1.svg' %}"><p>Alignment Check</p></div>
                                <div class="features"><img src="{% static 'icons/check1.svg' %}"><p>Consistency Check</p> </div>
                                <div class="features"><img src="{% static 'icons/check1.svg' %}"><p>Spacing Check</p> </div>
                                <div class="features"><img src="{% static 'icons/check1.svg' %}"><p>Adhere to Style Guide</p> </div>
                                <div class="features"><img src="{% static 'icons/x.svg' %}"><p>Re-do Design Elements</p> </div>
                                <div class="features"><img src="{% static 'icons/x.svg' %}"><p>Recreate Images to Slides</p> </div>
                                <div class="features"><img src="{% static 'icons/x.svg' %}"><p>Templates Creation</p> </div>
                                <div class="features"><img src="{% static 'icons/x.svg' %}"><p>Iconography</p> </div>
                                <div class="features"><img src="{% static 'icons/x.svg' %}"><p>Data Visualization</p> </div>
                                <div class="features"><img src="{% static 'icons/x.svg' %}"><p>Infographics</p> </div>
                                <div class="features"><img src="{% static 'icons/x.svg' %}"><p>Stock images</p> </div>
                                <div class="features"><img src="{% static 'icons/x.svg' %}"><p>Animation & Transition</p> </div>
                            </div>
                          </div>
                      </div>
                  </div>
                  <div class="col">
                      <div class="card pricing-card-2 h-100">
                          <div class="card-body p-0">
                            <div class="d-flex justify-content-between align-items-center">
                                <h3 class="pricing-title-w1">Standard</h3><button class="popular-btn">Popular</button>
                            </div>
                            <h2 class="pricing-title-w2">$20 <span>/slides</span></h2>
                            <p class="pricing-title-w3">40 minutes/slide</p>
                            <div class="plan-features">
                                <div class="features-w"><img src="{% static 'icons/whitecheck.svg' %}"><p>Alignment Check</p></div>
                                <div class="features-w"><img src="{% static 'icons/whitecheck.svg' %}"><p>Consistency Check</p> </div>
                                <div class="features-w"><img src="{% static 'icons/whitecheck.svg' %}"><p>Spacing Check</p> </div>
                                <div class="features-w"><img src="{% static 'icons/whitecheck.svg' %}"><p>Adhere to Style Guide</p> </div>
                                <div class="features-w"><img src="{% static 'icons/whitecheck.svg' %}"><p>Basic Redesign</p> </div>
                                <div class="features-w"><img src="{% static 'icons/whitecheck.svg' %}"><p>Standard Image to Slides</p> </div>
                                <div class="features-w"><img src="{% static 'icons/x.svg' %}"><p>Templates Creation</p> </div>
                                <div class="features-w"><img src="{% static 'icons/whitecheck.svg' %}"><p>Stock Iconography</p> </div>
                                <div class="features-w"><img src="{% static 'icons/x.svg' %}"><p>Data Visualization</p> </div>
                                <div class="features-w"><img src="{% static 'icons/whitecheck.svg' %}"><p>Basic Infographics</p> </div>
                                <div class="features-w"><img src="{% static 'icons/whitecheck.svg' %}"><p>Basic Stock images</p> </div>
                                <div class="features-w"><img src="{% static 'icons/whitecheck.svg' %}"><p>Basic Animation & Transition</p> </div>
                            </div>
                          </div>
                      </div>
                  </div>
                  <div class="col">
                      <div class="card pricing-card-1 h-100">
                          <div class="card-body p-0">
                            <h3 class="pricing-title-1">High Level Enhancement</h3>
                            <h2 class="pricing-title-2">$28 <span>/slides</span></h2>
                            <p class="pricing-title-3">60 minutes/slide</p>
                            <div class="plan-features">
                                <div class="features"><img src="{% static 'icons/check1.svg' %}"><p>Alignment Check</p></div>
                                <div class="features"><img src="{% static 'icons/check1.svg' %}"><p>Consistency Check</p> </div>
                                <div class="features"><img src="{% static 'icons/check1.svg' %}"><p>Spacing Check</p> </div>
                                <div class="features"><img src="{% static 'icons/check1.svg' %}"><p>Adhere to Style Guide</p> </div>
                                <div class="features"><img src="{% static 'icons/check1.svg' %}"><p>Re-do Design Elements</p> </div>
                                <div class="features"><img src="{% static 'icons/check1.svg' %}"><p>Recreate Images to Slides</p> </div>
                                <div class="features"><img src="{% static 'icons/check1.svg' %}"><p>Templates Creation</p> </div>
                                <div class="features"><img src="{% static 'icons/check1.svg' %}"><p>Iconography</p> </div>
                                <div class="features"><img src="{% static 'icons/check1.svg' %}"><p>Data Visualization</p> </div>
                                <div class="features"><img src="{% static 'icons/check1.svg' %}"><p>Infographics</p> </div>
                                <div class="features"><img src="{% static 'icons/check1.svg' %}"><p>Stock images</p> </div>
                                <div class="features"><img src="{% static 'icons/check1.svg' %}"><p>Animation & Transition</p> </div>
                            </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
        </div>
        <!--72-Hour Delivery-->
        <div class="pricing-section" id="72hrPricing" style="display: none;">
          <div class="container">
              <div class="row row-cols-1 row-cols-md-3 g-4">
                  <div class="col">
                      <div class="card pricing-card-1 h-100">
                          <div class="card-body p-0">
                            <h3 class="pricing-title-1">Fast Track</h3>
                            <h2 class="pricing-title-2">$8 <span>/slides</span></h2>
                            <p class="pricing-title-3">20 minutes/slide</p>
                            <div class="plan-features">
                                <div class="features"><img src="{% static 'icons/check1.svg' %}"><p>Alignment Check</p></div>
                                <div class="features"><img src="{% static 'icons/check1.svg' %}"><p>Consistency Check</p> </div>
                                <div class="features"><img src="{% static 'icons/check1.svg' %}"><p>Spacing Check</p> </div>
                                <div class="features"><img src="{% static 'icons/check1.svg' %}"><p>Adhere to Style Guide</p> </div>
                                <div class="features"><img src="{% static 'icons/x.svg' %}"><p>Re-do Design Elements</p> </div>
                                <div class="features"><img src="{% static 'icons/x.svg' %}"><p>Recreate Images to Slides</p> </div>
                                <div class="features"><img src="{% static 'icons/x.svg' %}"><p>Templates Creation</p> </div>
                                <div class="features"><img src="{% static 'icons/x.svg' %}"><p>Iconography</p> </div>
                                <div class="features"><img src="{% static 'icons/x.svg' %}"><p>Data Visualization</p> </div>
                                <div class="features"><img src="{% static 'icons/x.svg' %}"><p>Infographics</p> </div>
                                <div class="features"><img src="{% static 'icons/x.svg' %}"><p>Stock images</p> </div>
                                <div class="features"><img src="{% static 'icons/x.svg' %}"><p>Animation & Transition</p> </div>
                            </div>
                          </div>
                      </div>
                  </div>
                  <div class="col">
                      <div class="card pricing-card-2 h-100">
                          <div class="card-body p-0">
                            <div class="d-flex justify-content-between align-items-center">
                                <h3 class="pricing-title-w1">Standard</h3><button class="popular-btn">Popular</button>
                            </div>
                            <h2 class="pricing-title-w2">$18 <span>/slides</span></h2>
                            <p class="pricing-title-w3">40 minutes/slide</p>
                            <div class="plan-features">
                                <div class="features-w"><img src="{% static 'icons/whitecheck.svg' %}"><p>Alignment Check</p></div>
                                <div class="features-w"><img src="{% static 'icons/whitecheck.svg' %}"><p>Consistency Check</p> </div>
                                <div class="features-w"><img src="{% static 'icons/whitecheck.svg' %}"><p>Spacing Check</p> </div>
                                <div class="features-w"><img src="{% static 'icons/whitecheck.svg' %}"><p>Adhere to Style Guide</p> </div>
                                <div class="features-w"><img src="{% static 'icons/whitecheck.svg' %}"><p>Basic Redesign</p> </div>
                                <div class="features-w"><img src="{% static 'icons/whitecheck.svg' %}"><p>Standard Image to Slides</p> </div>
                                <div class="features-w"><img src="{% static 'icons/x.svg' %}"><p>Templates Creation</p> </div>
                                <div class="features-w"><img src="{% static 'icons/whitecheck.svg' %}"><p>Stock Iconography</p> </div>
                                <div class="features-w"><img src="{% static 'icons/x.svg' %}"><p>Data Visualization</p> </div>
                                <div class="features-w"><img src="{% static 'icons/whitecheck.svg' %}"><p>Basic Infographics</p> </div>
                                <div class="features-w"><img src="{% static 'icons/whitecheck.svg' %}"><p>Basic Stock images</p> </div>
                                <div class="features-w"><img src="{% static 'icons/whitecheck.svg' %}"><p>Basic Animation & Transition</p> </div>
                            </div>
                          </div>
                      </div>
                  </div>
                  <div class="col">
                      <div class="card pricing-card-1 h-100">
                          <div class="card-body p-0">
                            <h3 class="pricing-title-1">High Level Enhancement</h3>
                            <h2 class="pricing-title-2">$26 <span>/slides</span></h2>
                            <p class="pricing-title-3">60 minutes/slide</p>
                            <div class="plan-features">
                                <div class="features"><img src="{% static 'icons/check1.svg' %}"><p>Alignment Check</p></div>
                                <div class="features"><img src="{% static 'icons/check1.svg' %}"><p>Consistency Check</p> </div>
                                <div class="features"><img src="{% static 'icons/check1.svg' %}"><p>Spacing Check</p> </div>
                                <div class="features"><img src="{% static 'icons/check1.svg' %}"><p>Adhere to Style Guide</p> </div>
                                <div class="features"><img src="{% static 'icons/check1.svg' %}"><p>Re-do Design Elements</p> </div>
                                <div class="features"><img src="{% static 'icons/check1.svg' %}"><p>Recreate Images to Slides</p> </div>
                                <div class="features"><img src="{% static 'icons/check1.svg' %}"><p>Templates Creation</p> </div>
                                <div class="features"><img src="{% static 'icons/check1.svg' %}"><p>Iconography</p> </div>
                                <div class="features"><img src="{% static 'icons/check1.svg' %}"><p>Data Visualization</p> </div>
                                <div class="features"><img src="{% static 'icons/check1.svg' %}"><p>Infographics</p> </div>
                                <div class="features"><img src="{% static 'icons/check1.svg' %}"><p>Stock images</p> </div>
                                <div class="features"><img src="{% static 'icons/check1.svg' %}"><p>Animation & Transition</p> </div>
                            </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
        </div>


    </div>
</div>

<div class="white-section">
    <!--Bundled Packages-->
    <div class="card pricing-main-card-1">
        <h5 class="why-title mb-2 mb-md-0 text-center">Bundled Packages</h5>
        <div class="container" style="margin-top: 2.5rem;">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                <div class="card pricing-card-1 h-100">
                  <div class="card-body p-0">
                    <div class="d-flex justify-content-between align-items-center">
                        <h3 class="pricing-title-1">Starter</h3><button class="popular-btn-bundle">Save 20%</button>
                    </div>
                    <h2 class="pricing-title-2">$1,000 <span>/package</span></h2>
                    <div class="plan-features">
                        <div class="features"><img src="{% static 'icons/check1.svg' %}"><p>$24/hour</p></div>
                        <div class="features"><img src="{% static 'icons/check1.svg' %}"><p>40 hours included</p> </div>
                        <div class="features"><img src="{% static 'icons/check1.svg' %}"><p>Valid for 1 year</p> </div>
                        <div class="features"><img src="{% static 'icons/check1.svg' %}"><p>4h capacity per day</p> </div>
                        <div class="features"><img src="{% static 'icons/check1.svg' %}"><p>48-hour delivery</p> </div>
                        <div class="features"><img src="{% static 'icons/check1.svg' %}"><p>Dedicated account manager</p> </div>
                    </div>
                  </div>
                </div>
            </div>
            <div class="col">
                <div class="card pricing-card-1 h-100">
                  <div class="card-body p-0">
                    <div class="d-flex justify-content-between align-items-center">
                        <h3 class="pricing-title-1">Standard</h3><button class="popular-btn-bundle">Save 25%</button>
                    </div>
                    <h2 class="pricing-title-2">$2,000 <span>/package</span></h2>
                    <div class="plan-features">
                        <div class="features"><img src="{% static 'icons/check1.svg' %}"><p>$22.5/hour</p></div>
                        <div class="features"><img src="{% static 'icons/check1.svg' %}"><p>90 hours included</p> </div>
                        <div class="features"><img src="{% static 'icons/check1.svg' %}"><p>Valid for 1 year</p> </div>
                        <div class="features"><img src="{% static 'icons/check1.svg' %}"><p>8h capacity per day</p> </div>
                        <div class="features"><img src="{% static 'icons/check1.svg' %}"><p>36-hour delivery</p> </div>
                        <div class="features"><img src="{% static 'icons/check1.svg' %}"><p>Dedicated account manager</p> </div>
                    </div>
                  </div>
                </div>
            </div>
            <div class="col">
                <div class="card pricing-card-1 h-100">
                  <div class="card-body p-0">
                    <div class="d-flex justify-content-between align-items-center">
                        <h3 class="pricing-title-1">Premium</h3><button class="popular-btn-bundle">Save 35%</button>
                    </div>
                    <h2 class="pricing-title-2">$5,000 <span>/package</span></h2>
                    <div class="plan-features">
                        <div class="features"><img src="{% static 'icons/check1.svg' %}"><p>$21/hour</p></div>
                        <div class="features"><img src="{% static 'icons/check1.svg' %}"><p>240 hours included</p> </div>
                        <div class="features"><img src="{% static 'icons/check1.svg' %}"><p>Valid for 1 year</p> </div>
                        <div class="features"><img src="{% static 'icons/check1.svg' %}"><p>16h capacity per day</p> </div>
                        <div class="features"><img src="{% static 'icons/check1.svg' %}"><p>24-hour delivery</p> </div>
                        <div class="features"><img src="{% static 'icons/check1.svg' %}"><p>Dedicated account manager</p> </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>

<div class="white-section">
    <!--Dedicated Designers-->
    <div class="card pricing-main-card-1" style="padding-top: 5.25rem; padding-bottom: 5.25rem;">
        <h5 class="why-title mb-2 mb-md-0 text-center">Dedicated Designers</h5>

        <!--Button Group-->
        <div class="designers-toggle mx-auto">
          <button id="monthlyPlan" class="active">Monthly Plan</button>
          <button id="yearlyPlan">Yearly Plan</button>
        </div>

        <!--Monthly Plan-->
        <div class="pricing-section" id="monthlyPlanSection">
            <div class="container">
                <div class="row row-cols-1 row-cols-md-3 g-4">
                    <div class="col">
                        <div class="card pricing-card-1 h-100">
                          <div class="card-body p-0">
                            <div class="d-flex justify-content-between align-items-center mb-1">
                                <h3 class="pricing-title-1">Basic</h3>
                            </div>
                            <h2 class="pricing-title-2">$760 <span>/package</span></h2>
                            <div class="plan-features">
                                <div class="features"><img src="{% static 'icons/check1.svg' %}"><p>$19/hour</p></div>
                                <div class="features"><img src="{% static 'icons/check1.svg' %}"><p>2 hours included</p> </div>
                                <div class="features"><img src="{% static 'icons/check1.svg' %}"><p>40 total monthly hours</p> </div>
                                <div class="features"><img src="{% static 'icons/check1.svg' %}"><p>4h maximum capacity per day</p> </div>
                                <div class="features"><img src="{% static 'icons/check1.svg' %}"><p>Monthly performance Review</p> </div>
                                <div class="features"><img src="{% static 'icons/x.svg' %}"><p>Dedicated account manager</p> </div>
                            </div>
                          </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card pricing-card-1 h-100">
                          <div class="card-body p-0">
                            <div class="d-flex justify-content-between align-items-center mb-1">
                                <h3 class="pricing-title-1">Standard</h3>
                            </div>
                            <h2 class="pricing-title-2">$1,440 <span>/package</span></h2>
                            <div class="plan-features">
                                <div class="features"><img src="{% static 'icons/check1.svg' %}"><p>$18/hour</p></div>
                                <div class="features"><img src="{% static 'icons/check1.svg' %}"><p>4 hours included</p> </div>
                                <div class="features"><img src="{% static 'icons/check1.svg' %}"><p>80 total monthly hours</p> </div>
                                <div class="features"><img src="{% static 'icons/check1.svg' %}"><p>8h maximum capacity per day</p> </div>
                                <div class="features"><img src="{% static 'icons/check1.svg' %}"><p>Bi-weekly performance Review</p> </div>
                                <div class="features"><img src="{% static 'icons/check1.svg' %}"><p>Dedicated account manager</p> </div>
                            </div>
                          </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card pricing-card-1 h-100">
                          <div class="card-body p-0">
                            <div class="d-flex justify-content-between align-items-center mb-1">
                                <h3 class="pricing-title-1">Pro</h3>
                            </div>
                            <h2 class="pricing-title-2">$2,560 <span>/package</span></h2>
                            <div class="plan-features">
                                <div class="features"><img src="{% static 'icons/check1.svg' %}"><p>$16/hour</p></div>
                                <div class="features"><img src="{% static 'icons/check1.svg' %}"><p>8 hours included</p> </div>
                                <div class="features"><img src="{% static 'icons/check1.svg' %}"><p>160 total monthly hours</p> </div>
                                <div class="features"><img src="{% static 'icons/check1.svg' %}"><p>16h maximum capacity per day</p> </div>
                                <div class="features"><img src="{% static 'icons/check1.svg' %}"><p>Weekly performance Review</p> </div>
                                <div class="features"><img src="{% static 'icons/check1.svg' %}"><p>Dedicated account manager</p> </div>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Yearly Plan-->
        <div class="pricing-section" id="yearlyPlanSection" style="display: none;">
            <div class="container">
                <div class="row row-cols-1 row-cols-md-3 g-4">
                    <div class="col">
                        <div class="card pricing-card-1 h-100">
                          <div class="card-body p-0">
                            <div class="d-flex justify-content-between align-items-center mb-1">
                                <h3 class="pricing-title-1">Basic</h3><button class="popular-btn-bundle">Save 20%</button>
                            </div>
                            <h2 class="pricing-title-2">$7,600 <span>/package</span></h2>
                            <div class="plan-features">
                                <div class="features"><img src="{% static 'icons/check1.svg' %}"><p>$19/hour</p></div>
                                <div class="features"><img src="{% static 'icons/check1.svg' %}"><p>2 hours included</p> </div>
                                <div class="features"><img src="{% static 'icons/check1.svg' %}"><p>40 total monthly hours</p> </div>
                                <div class="features"><img src="{% static 'icons/check1.svg' %}"><p>4h maximum capacity per day</p> </div>
                                <div class="features"><img src="{% static 'icons/check1.svg' %}"><p>Monthly performance Review</p> </div>
                                <div class="features"><img src="{% static 'icons/x.svg' %}"><p>Dedicated account manager</p> </div>
                            </div>
                          </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card pricing-card-1 h-100">
                          <div class="card-body p-0">
                            <div class="d-flex justify-content-between align-items-center mb-1">
                                <h3 class="pricing-title-1">Standard</h3><button class="popular-btn-bundle">Save 20%</button>
                            </div>
                            <h2 class="pricing-title-2">$14,400 <span>/package</span></h2>
                            <div class="plan-features">
                                <div class="features"><img src="{% static 'icons/check1.svg' %}"><p>$18/hour</p></div>
                                <div class="features"><img src="{% static 'icons/check1.svg' %}"><p>4 hours included</p> </div>
                                <div class="features"><img src="{% static 'icons/check1.svg' %}"><p>80 total monthly hours</p> </div>
                                <div class="features"><img src="{% static 'icons/check1.svg' %}"><p>8h maximum capacity per day</p> </div>
                                <div class="features"><img src="{% static 'icons/check1.svg' %}"><p>Bi-weekly performance Review</p> </div>
                                <div class="features"><img src="{% static 'icons/check1.svg' %}"><p>Dedicated account manager</p> </div>
                            </div>
                          </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card pricing-card-1 h-100">
                          <div class="card-body p-0">
                            <div class="d-flex justify-content-between align-items-center mb-1">
                                <h3 class="pricing-title-1">Pro</h3><button class="popular-btn-bundle">Save 20%</button>
                            </div>
                            <h2 class="pricing-title-2">$25,600 <span>/package</span></h2>
                            <div class="plan-features">
                                <div class="features"><img src="{% static 'icons/check1.svg' %}"><p>$16/hour</p></div>
                                <div class="features"><img src="{% static 'icons/check1.svg' %}"><p>8 hours included</p> </div>
                                <div class="features"><img src="{% static 'icons/check1.svg' %}"><p>160 total monthly hours</p> </div>
                                <div class="features"><img src="{% static 'icons/check1.svg' %}"><p>16h maximum capacity per day</p> </div>
                                <div class="features"><img src="{% static 'icons/check1.svg' %}"><p>Bi-weekly performance Review</p> </div>
                                <div class="features"><img src="{% static 'icons/check1.svg' %}"><p>Dedicated account manager</p> </div>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </div>
</div>




{% endblock %}
