{% extends 'base.html' %}
{% load static %}

{% block title %}Services - VGDS{% endblock %}

{% block content %}

<!--Other Navbar  -->

<nav class="navbar navbar-expand-lg fixed-top navbar-secondary">
  <div class="container">
    <a class="navbar-brand" href="{% url 'projectapp:home' %}">
        <!-- White logo (default) -->
        <img src="{% static 'images/vgds-white-logo.png' %}" alt="Bootstrap" class="logo logo-white" id="navbarLogo">

        <!-- Colored logo (hidden initially) -->
        <img src="{% static 'images/vgds-logo-2.png' %}" class="logo logo-colored d-none" alt="Logo">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarText">
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{% url 'projectapp:ourWorks' %}">Our Work</a>
        </li>
        <li class="nav-item dropdown custom-dropdown">
          <a class="nav-link dropdown-toggle" href="{% url 'projectapp:services' %}">Services</a>
          <div class="dropdown-menu mega-dropdown-bg">
                <div class="row">
                  <div class="col-md-4">
                    <a href="{% url 'projectapp:presentation_design' %}" class="dropdown-card">
                      <img src="{% static 'images/sol1.jpg' %}" class="img-fluid" alt="Presentation Design">
                      <p class="dropdown-title-bg">Presentation Design</p>
                    </a>
                  </div>
                  <div class="col-md-4">
                    <a href="% url 'projectapp:graphics' %}" class="dropdown-card">
                      <img src="{% static 'images/sol2.jpg' %}" class="img-fluid" alt="Graphics & Print Design">
                      <p class="dropdown-title-bg">Graphics & Print Design</p>
                    </a>
                  </div>
                  <div class="col-md-4">
                    <a href="{% url 'projectapp:otherServices' %}" class="dropdown-card">
                      <img src="{% static 'images/sol3.jpg' %}" class="img-fluid" alt="Other Services">
                      <p class="dropdown-title-bg">Other Services</p>
                    </a>
                  </div>
                </div>
            </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'projectapp:solutions' %}">Solutions</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'projectapp:testimonials' %}">Testimonials</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'projectapp:pricing' %}">Pricing</a>
        </li>
<!--                <li class="nav-item">-->
<!--                  <a class="nav-link" href="#">About Us</a>-->
<!--                </li>-->
      </ul>

        <!-- Mobile Order Now button -->
      <div class="d-lg-none mt-3">
        <a href="{% url 'projectapp:orderFlow' %}" type="button" class="btn order-button-nav">Order Now</a>
      </div>

    </div>

    <!-- Order Now Button -->
    <div class="d-none d-lg-block">
      <a href="{% url 'projectapp:orderFlow' %}" type="button" class="btn order-button-nav">Order Now</a>
    </div>

  </div>
</nav>

<!--END NAVBAR-->

<div class="about-section white-section" style="">

<div class="card sub-service-hero service-top" style="background-image: url('{% static 'images/cover-other.jpg' %}'); background-size: cover; background-position: center; background-repeat: no-repeat;">
  <div class="container p-0">
    <div class="about-hero-textarea">
        <h6 class="about-hero-subtitle">Our Services</h6>
        <h5 class="about-hero-title">Designs That Speak.<br> Results That Matter.</h5>
        <div class="about-hero-desc">
          <p class="about-hero-text">At VGDS Global, we specialize in creating impactful presentations and compelling designs
            that elevate your brand and resonate with your audience. With expertise rooted in top consulting firms, we deliver
            professional, high-quality designs that meet your needs and exceed expectations.
          </p>
        </div>
      </div>
  </div>
</div>

</div>

<div class="white-section">
  <div class="card service-card-white">
    <div class="container p-0">

      <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col-md-7 d-flex justify-content-center align-items-center">
          <div class="card card-1" style="">
            <div class="card-body">
              <h2 class="service-card-title">Presentation Design</h2>
              <p class="service-card-subtitle mb-5">Chroma goes beyond providing IT services—we build partnerships that drive value and success. Here’s why businesses choose us:</p>
              <div class="row row-cols-1 row-cols-md-2 custom-gap" style="--bs-gutter-x: 2.5rem; --bs-gutter-y: 2.5rem;">
                <div class="col">
                  <div class="service-box d-flex align-items-start gap-3">
                    <img src="{% static 'icons/briefcase-business.svg' %}" style="height: 1.5rem; width: 1.5rem;">
                    <div>
                      <h6 class="service-box-title mb-1">Business Presentations</h6>
                      <p class="service-box-subtitle mb-0">
                        We take the time to understand your goals and challenges, delivering solutions tailored to your needs.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="service-box d-flex align-items-start gap-3">
                    <img src="{% static 'icons/presentation1.svg' %}" style="height: 1.5rem; width: 1.5rem;">
                    <div>
                      <h6 class="service-box-title mb-1">Investor Pitch Decks</h6>
                      <p class="service-box-subtitle mb-0">
                        We take the time to understand your goals and challenges, delivering solutions tailored to your needs.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="service-box d-flex align-items-start gap-3">
                    <img src="{% static 'icons/square-dashed-kanban.svg' %}" style="height: 1.5rem; width: 1.5rem;">
                    <div>
                      <h6 class="service-box-title mb-1">Templates </h6>
                      <p class="service-box-subtitle mb-0">
                        We take the time to understand your goals and challenges, delivering solutions tailored to your needs.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="service-box d-flex align-items-start gap-3">
                    <img src="{% static 'icons/youtube.svg' %}" style="height: 1.5rem; width: 1.5rem;">
                    <div>
                      <h6 class="service-box-title mb-1">Interactive & Video Presentations</h6>
                      <p class="service-box-subtitle mb-0">
                        We take the time to understand your goals and challenges, delivering solutions tailored to your needs.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <a type="button" class="btn hire-btn" href="{% url 'projectapp:presentation_design' %}">Explore Service</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-5 col-bg-image">
          <div class="bg-image-box-2" style=" background-image: url('{% static 'images/102.jpg' %}');"></div>
        </div>
      </div>


    </div>
  </div>
</div>

<div class="section-4 white-section">
  <div class="card service-section">
    <div class="card-body p-0">
      <div class="container p-0">
        <div class="row row-cols-1 row-cols-md-2 g-4">
          <div class="col-md-5 col-bg-image">
            <div class="bg-image-box" style=" background-image: url('{% static 'images/103.jpg' %}');"></div>
          </div>
          <div class="col-md-7 d-flex justify-content-center align-items-center">
            <div class="card card-1" style="">
              <div class="card-body">
                <h2 class="service-card-title">Graphics & Print Design</h2>
                <p class="service-card-subtitle">Chroma goes beyond providing IT services—we build partnerships that drive value and success.
                  Here’s why businesses choose us:</p>
                <div class="row row-cols-1 row-cols-md-2 g-4">
                  <div class="col">
                    <div class="service-box d-flex align-items-start gap-3">
                      <img src="{% static 'icons/fingerprint.svg' %}" style="height: 24px; width: 24px;">
                      <div>
                        <h6 class="service-box-title mb-1">Brand Identity Design</h6>
                        <p class="service-box-subtitle mb-0">
                          We take the time to understand your goals and challenges, delivering solutions tailored to your needs.
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="service-box d-flex align-items-start gap-3">
                      <img src="{% static 'icons/megaphone.svg' %}" style="height: 24px; width: 24px;">
                      <div>
                        <h6 class="service-box-title mb-1">Marketing Collaterals</h6>
                        <p class="service-box-subtitle mb-0">
                          We take the time to understand your goals and challenges, delivering solutions tailored to your needs.
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="service-box d-flex align-items-start gap-3">
                      <img src="{% static 'icons/circle-fading-plus.svg' %}" style="height: 24px; width: 24px;">
                      <div>
                        <h6 class="service-box-title mb-1">Social Media Graphics</h6>
                        <p class="service-box-subtitle mb-0">
                          We take the time to understand your goals and challenges, delivering solutions tailored to your needs.
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="service-box d-flex align-items-start gap-3">
                      <img src="{% static 'icons/printer.svg' %}" style="height: 24px; width: 24px;">
                      <div>
                        <h6 class="service-box-title mb-1">Digital & Print Media</h6>
                        <p class="service-box-subtitle mb-0">
                          We take the time to understand your goals and challenges, delivering solutions tailored to your needs.
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <a type="button" class="btn hire-btn" href="{% url 'projectapp:graphics' %}">Explore Service</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="section-4 white-section">
  <div class="card service-section-2">
    <div class="card-body p-0">
      <div class="container p-0">
        <div class="row row-cols-1 row-cols-md-2 g-4">
          <div class="col-md-7 d-flex justify-content-center align-items-center">
            <div class="card card-1" style="">
              <div class="card-body">
                <h2 class="service-card-title">Other Services</h2>
                <p class="service-card-subtitle">Chroma goes beyond providing IT services—we build partnerships that drive value and success.
                  Here’s why businesses choose us:</p>
                <div class="row row-cols-1 row-cols-md-2 g-4">
                  <div class="col">
                    <div class="service-box d-flex align-items-start gap-3">
                      <img src="{% static 'icons/book-check.svg' %}" style="height: 24px; width: 24px;">
                      <div>
                        <h6 class="service-box-title mb-1">Content Services</h6>
                        <p class="service-box-subtitle mb-0">
                          We take the time to understand your goals and challenges, delivering solutions tailored to your needs.
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="service-box d-flex align-items-start gap-3">
                      <img src="{% static 'icons/square-library.svg' %}" style="height: 24px; width: 24px;">
                      <div>
                        <h6 class="service-box-title mb-1">Data & Document Management</h6>
                        <p class="service-box-subtitle mb-0">
                          We take the time to understand your goals and challenges, delivering solutions tailored to your needs.
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="service-box d-flex align-items-start gap-3">
                      <img src="{% static 'icons/monitor-smartphone.svg' %}" style="height: 24px; width: 24px;">
                      <div>
                        <h6 class="service-box-title mb-1">Website Design</h6>
                        <p class="service-box-subtitle mb-0">
                          We take the time to understand your goals and challenges, delivering solutions tailored to your needs.
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="service-box d-flex align-items-start gap-3">
                      <img src="{% static 'icons/video.svg' %}" style="height: 24px; width: 24px;">
                      <div>
                        <h6 class="service-box-title mb-1">Video Design</h6>
                        <p class="service-box-subtitle mb-0">
                          We take the time to understand your goals and challenges, delivering solutions tailored to your needs.
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <a type="button" class="btn hire-btn" href="{% url 'projectapp:otherServices' %}">Explore Service</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-5 col-bg-image">
            <div class="bg-image-box" style=" background-image: url('{% static 'images/104.jpg' %}');"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>


        <div class="white-section">
            <div class="card trust-card">
                <div class="container p-0">
                    <div class="card-body p-0">
                        <h5 class="process-title text-center">Our Process</h5>

                            <div class="process-wrapper">
                              <div class="timeline-line"></div>
                              <div class="timeline-indicator" id="bubble"></div>

                              <!-- STEP 1 -->
                              <div class="timeline-step" data-step>
                                <div class="left-step">
                                  <h5 class="process-head-1">Content Submission</h5>
                                  <p class="process-head-2">Send us your draft in any format – PPT, Word, or even email. We take it from there.</p>
                                </div>
                                  <div class="timeline-dot"></div>
                                <div class="right-step"></div>
                              </div>

                              <!-- STEP 2 -->
                              <div class="timeline-step" data-step>
                                <div class="left-step"></div>
                                  <div class="timeline-dot"></div>
                                <div class="right-step">
                                  <h5 class="process-head-1">Pricing & Timeline</h5>
                                  <p class="process-head-2">Our project manager connects with you to finalize pricing and set clear timelines.</p>
                                </div>
                              </div>

                              <!-- STEP 3 -->
                              <div class="timeline-step" data-step>
                                <div class="left-step">
                                  <h5 class="process-head-1">Sample Slides</h5>
                                  <p class="process-head-2">We create engaging sample slides for your review and feedback.</p>
                                </div>
                                  <div class="timeline-dot"></div>
                                <div class="right-step"></div>
                              </div>

                              <!-- STEP 4 -->
                              <div class="timeline-step" data-step>
                                <div class="left-step"></div>
                                  <div class="timeline-dot"></div>
                                <div class="right-step">
                                  <h5 class="process-head-1">Revisions & Feedback</h5>
                                  <p class="process-head-2">We refine the slides based on your feedback, ensuring everything meets your expectations.</p>
                                </div>
                              </div>

                              <!-- STEP 3 -->
                              <div class="timeline-step" data-step>
                                <div class="left-step">
                                  <h5 class="process-head-1">Final Delivery</h5>
                                  <p class="process-head-2">After thorough checks and final edits, we deliver a polished presentation that makes an impact.</p>
                                </div>
                                  <div class="timeline-dot"></div>
                                <div class="right-step"></div>
                              </div>

                            </div>



                    </div>
                </div>
            </div>
        </div>

        <div class="white-section ">
            <div class="card service-section">
                <div class="container p-0">
                    <div class="card-body p-0 card-body-1">
                        <div class="row row-cols-1 row-cols-md-2 g-4">
                            <div class="col">
                                <div class="card about-1-card" style="max-width: 36.25rem;">
                                  <div class="bg-cover-about-1" style="background-image: url('{% static 'images/vgds1.jpg' %}');"></div>
                                </div>
                            </div>
                            <div class="col d-flex  justify-content-center align-items-center">
                                <div class="card about-1-card bg-transparent" style="max-width: 40rem;">
                                    <div class="card-body p-0">
                                        <h5 class="about-2-title">At Visual Graphics Design Services, we don’t just create presentations—we craft
                                            visual stories that inform, inspire, and persuade.
                                        </h5>
                                        <p class="about-3-title">With over 15 years of experience designing for top firms like McKinsey & Co., BCG, EY and Deloitte,
                                            we know what it takes to make an impact. We blend sharp storytelling with expert design, ensuring every slide is clear,
                                            compelling, and memorable. Our team isn’t just skilled—we’re obsessed with turning ideas into powerful visuals that leave
                                            a lasting impression. Whether it’s a high-stakes pitch, a boardroom presentation or an investor deck, we transform content
                                            into captivating narratives that drive results.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


      {% endblock %}