{% extends 'base.html' %}
{% load static %}

{% block title %}Solutions - VGDS{% endblock %}

{% block content %}

<!--Other Navbar  -->

  <nav class="navbar navbar-expand-lg fixed-top navbar-secondary">
    <div class="container">
      <a class="navbar-brand" href="/">
          <!-- White logo (default) -->
          <img src="{% static 'images/vgds-white-logo.png' %}" alt="Bootstrap" class="logo logo-white" id="navbarLogo">

          <!-- Colored logo (hidden initially) -->
          <img src="{% static 'images/vgds-logo-2.png' %}" class="logo logo-colored d-none" alt="Logo">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-center" id="navbarText">
        <ul class="navbar-nav mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{% url 'projectapp:ourWorks' %}">Our Work</a>
          </li>
          <li class="nav-item dropdown custom-dropdown">
            <a class="nav-link dropdown-toggle" href="{% url 'projectapp:services' %}" >Services</a>
            <div class="dropdown-menu mega-dropdown-bg">
                  <div class="row">
                    <div class="col-md-4">
                      <a href="{% url 'projectapp:presentation_design' %}" class="dropdown-card">
                        <img src="{% static 'images/sol1.jpg' %}" class="img-fluid" alt="Presentation Design">
                        <p class="dropdown-title-bg">Presentation Design</p>
                      </a>
                    </div>
                    <div class="col-md-4">
                      <a href="{% url 'projectapp:graphics' %}" class="dropdown-card">
                        <img src="{% static 'images/sol2.jpg' %}" class="img-fluid" alt="Graphics & Print Design">
                        <p class="dropdown-title-bg">Graphics & Print Design</p>
                      </a>
                    </div>
                    <div class="col-md-4">
                      <a href="{% url 'projectapp:otherServices' %}" class="dropdown-card">
                        <img src="{% static 'images/sol3.jpg' %}" class="img-fluid" alt="Other Services">
                        <p class="dropdown-title-bg">Other Services</p>
                      </a>
                    </div>
                  </div>
              </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'projectapp:solutions' %}">Solutions</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'projectapp:testimonials' %}">Testimonials</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'projectapp:pricing' %}">Pricing</a>
          </li>
<!--          <li class="nav-item">-->
<!--            <a class="nav-link" href="#">About Us</a>-->
<!--          </li>-->
        </ul>

          <!-- Mobile Order Now button -->
        <div class="d-lg-none mt-3">
          <a href="{% url 'projectapp:orderFlow' %}" type="button" class="btn order-button-nav">Order Now</a>
        </div>

      </div>

      <!-- Order Now Button -->
      <div class="d-none d-lg-block">
        <a href="{% url 'projectapp:orderFlow' %}" type="button" class="btn order-button-nav">Order Now</a>
      </div>

    </div>
  </nav>

  <!--END NAVBAR-->

  <div class="about-section white-section" style="">

    <div class="card sub-service-hero service-top" style="background-image: url('{% static 'images/cover-other.jpg' %}'); background-size: cover; background-position: center; background-repeat: no-repeat;">
      <div class="container p-0">
        <div class="about-hero-textarea">
            <h6 class="about-hero-subtitle">Our Solutions</h6>
            <h5 class="about-hero-title">Impactful Presentations.<br> Unmatched Flexibility.</h5>
            <div class="about-hero-desc">
              <p class="about-hero-text">At VGDS Global, we provide flexible solutions for your unique presentation
                needs—designers on demand, overnight delivery, or a dedicated team. Elevate your presentations and stay
                ahead with our exceptional quality.</p>
            </div>
          </div>
      </div>
    </div>

  </div>

  <div class="white-section">
      <div class="card solution-hero-card">
      <div class="container p-0" id="presentation-experts-on-demand">
        <div class="row row-cols-1 row-cols-md-2 g-4">
          <div class="col-md-6 col-bg-image">
            <div class="bg-image-box-1" style=" background-image: url('{% static 'images/2148908911.jpg' %}');"></div>
          </div>
          <div class="col-md-6 d-flex align-items-center">
            <div class="card-body" style="max-width: 32rem;">
              <h3 class="solution-hero-card-title">Presentation Experts on Demand</h3>
              <p class="solution-hero-subtitle">Expert Designs. Anytime You Need Them.</p>
              <p class="solution-hero-subtitle-1">Enhance your team with our skilled specialists, available hourly. Transform
                ideas and notes into polished presentations or create custom templates. Rates start at $25 per hour.
                Whether it’s crafting new slides, enhancing existing presentations, or customizing templates, we deliver
                high-quality results that make a powerful impact.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="white-section">
    <div class="card key-features-card">
      <div class="container p-0">
        <div class="card-body">
        <h5 class="solution-title mb-md-0">Key Features</h5>
        <div class="row row-cols-1 row-cols-md-3 g-4 key-gap">
          <div class="col">
            <div class="card bg-transparent border-0" style="max-width: 21rem;">
              <img src="{% static 'icons/fluent-color_layer-diagonal-person-20.svg' %}" class="service-icon m-2" alt="...">
              <div class="card-body p-0">
                <h1 class="key-service-title mb-1">Presentation Creation</h1>
                <p class="key-service-subtitle text-muted mb-0">Effortlessly convert meeting notes into professional presentations that communicate your ideas clearly and persuasively.</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card bg-transparent border-0" style="max-width: 21rem;">
              <img src="{% static 'icons/fluent-color_design-ideas-16.svg' %}" class="service-icon m-2" alt="...">
              <div class="card-body p-0">
                <h1 class="key-service-title mb-1">Design Realization</h1>
                <p class="key-service-subtitle text-muted mb-0">Effortlessly convert meeting notes into professional presentations that communicate your ideas clearly and persuasively.</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card bg-transparent border-0" style="max-width: 21rem;">
              <img src="{% static 'icons/fluent-color_paint-brush-16.svg' %}" class="service-icon m-2" alt="...">
              <div class="card-body p-0">
                <h1 class="key-service-title mb-1">Template Customization</h1>
                <p class="key-service-subtitle text-muted mb-0">Effortlessly convert meeting notes into professional presentations that communicate your ideas clearly and persuasively.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>

  <div class="white-section">
    <div class="card team-section">
      <div class="container p-0">
        <div class="card border-0 rounded-0 bg-transparent" style="margin-bottom: 3.5rem;">
          <div class="card-body d-flex flex-column flex-md-row justify-content-between align-items-start align-items-md-center ">
            <h5 class="solution-title mb-2 mb-md-0">Our Team</h5>
            <a class="learn-link d-inline-flex align-items-center" href="{% url 'projectapp:home' %}#why-VGDS">
              Learn More
              <img src="{% static 'icons/Frame1.svg' %}" alt="Arrow" class="ms-2" width="20" height="20">
            </a>
          </div>
        </div>
        <div class="row row-cols-1 row-cols-md-3 g-4">
          <div class="col">
            <div class="card team-card">
              <div class="team-img" style="background-image: url('{% static 'images/23.jpg' %}');"></div>
              <div class="card-body p-0 team-body">
                <h5 class="team-name">Abraham Alexander</h5>
                <p class="team-des">Business Presentation Expert</p>
                <p class="team-desc">Former co-founder of Opendoor. Early staff at Spotify and Clearbit.</p>
                <a href="#"><img src="{% static 'icons/linkedin-grey.svg' %}" class="team-icons"></a>
                <a href="#"><img src="{% static 'icons/group.svg' %}" class="team-icons"></a>
                <a href="#"><img src="{% static 'icons/dribble-grey.svg' %}" class="team-icons"></a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card team-card">
              <div class="team-img" style="background-image: url('{% static 'images/23.jpg' %}');"></div>
              <div class="card-body p-0 team-body">
                <h5 class="team-name">Abraham Alexander</h5>
                <p class="team-des">Business Presentation Expert</p>
                <p class="team-desc">Former co-founder of Opendoor. Early staff at Spotify and Clearbit.</p>
                <a href="#"><img src="{% static 'icons/linkedin-grey.svg' %}" class="team-icons"></a>
                <a href="#"><img src="{% static 'icons/group.svg' %}" class="team-icons"></a>
                <a href="#"><img src="{% static 'icons/dribble-grey.svg' %}" class="team-icons"></a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card team-card">
              <div class="team-img" style="background-image: url('{% static 'images/23.jpg' %}');"></div>
              <div class="card-body p-0 team-body">
                <h5 class="team-name">Abraham Alexander</h5>
                <p class="team-des">Business Presentation Expert</p>
                <p class="team-desc">Former co-founder of Opendoor. Early staff at Spotify and Clearbit.</p>
                <a href="#"><img src="{% static 'icons/linkedin-grey.svg' %}" class="team-icons"></a>
                <a href="#"><img src="{% static 'icons/group.svg' %}" class="team-icons"></a>
                <a href="#"><img src="{% static 'icons/dribble-grey.svg' %}" class="team-icons"></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="white-section">
    <div class="card solution-hero-card">
      <div class="container p-0" id="overnight-presentation">
        <div class="row row-cols-1 row-cols-md-2 g-4">
          <div class="col-md-6 col-bg-image">
            <div class="bg-image-box-1" style=" background-image: url('{% static 'images/2148908922.jpg' %}');"></div>
          </div>
          <div class="col-md-6 d-flex align-items-center">
            <div class="card-body" style="max-width: 32rem;">
              <h3 class="solution-hero-card-title">Overnight Presentations</h3>
              <p class="solution-hero-subtitle">Expert Designs. Anytime You Need Them.</p>
              <p class="solution-hero-subtitle-1">Need a polished presentation by tomorrow? Our Overnight Presentation service
                delivers high-quality, impactful slides within 24 hours. Stay ahead of tight deadlines without compromising on
                design or effectiveness.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="white-section">
    <div class="card trust-card">
        <div class="container p-0">
          <div class="card-body p-0">
            <h5 class="process-title text-center">Our Process</h5>

              <div class="process-wrapper">
                <div class="timeline-line"></div>
                <div class="timeline-indicator" id="bubble"></div>


                <!-- STEP 1 -->
                <div class="timeline-step" data-step>
                  <div class="left-step">
                    <h5 class="process-head-1">Content Submission</h5>
                    <p class="process-head-2">Send us your draft in any format – PPT, Word, or even email. We take it from there.</p>
                  </div>
                    <div class="timeline-dot"></div>
                  <div class="right-step"></div>
                </div>

                <!-- STEP 2 -->
                <div class="timeline-step" data-step>
                  <div class="left-step"></div>
                    <div class="timeline-dot"></div>
                  <div class="right-step">
                    <h5 class="process-head-1">Pricing & Timeline</h5>
                    <p class="process-head-2">Our project manager connects with you to finalize pricing and set clear timelines.</p>
                  </div>
                </div>

                <!-- STEP 3 -->
                <div class="timeline-step" data-step>
                  <div class="left-step">
                    <h5 class="process-head-1">Sample Slides</h5>
                    <p class="process-head-2">We create engaging sample slides for your review and feedback.</p>
                  </div>
                    <div class="timeline-dot"></div>
                  <div class="right-step"></div>
                </div>

                <!-- STEP 4 -->
                <div class="timeline-step" data-step>
                  <div class="left-step"></div>
                    <div class="timeline-dot"></div>
                  <div class="right-step">
                    <h5 class="process-head-1">Revisions & Feedback</h5>
                    <p class="process-head-2">We refine the slides based on your feedback, ensuring everything meets your expectations.</p>
                  </div>
                </div>

                <!-- STEP 3 -->
                <div class="timeline-step" data-step>
                  <div class="left-step">
                    <h5 class="process-head-1">Final Delivery</h5>
                    <p class="process-head-2">After thorough checks and final edits, we deliver a polished presentation that makes an impact.</p>
                  </div>
                    <div class="timeline-dot"></div>
                  <div class="right-step"></div>
                </div>
              </div>
          </div>
        </div>
    </div>
  </div>

  <div class="white-section">
    <div class="card team-section">
      <div class="card-body p-0 d-flex flex-column flex-md-row justify-content-between align-items-start align-items-md-center card-body-1" style="margin-bottom: 5.5rem;">
        <h5 class="why-title mb-2 mb-md-0">Presentation Design</h5>
        <a class="learn-more-1 d-inline-flex align-items-center" href="#">
          More about the company
          <img src="{% static 'icons/Frame1.svg' %}" alt="Arrow" class="ms-2 invert-arrow" width="20" height="20">
        </a>
      </div>
      <div class="card-body p-0 card-body-1">
        <div class="row row-cols-1 row-cols-md-3 g-3 why-row" style="">

            <!-- Accordion -->
            <div class="col-md-5">
              <div class="accordion accordion-flush" id="accordionSolutions">
                <div class="accordion-item-why">
                  <h2 class="accordion-header">
                    <button class="accordion-button-why collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#solution-collapseOne" aria-expanded="false">
                      Efficiency
                    </button>
                  </h2>
                  <div id="solution-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionSolutions">
                    <div class="accordion-body-why">Content for Solution One</div>
                  </div>
                </div>
                <div class="accordion-item-why">
                  <h2 class="accordion-header">
                    <button class="accordion-button-why collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#solution-collapseTwo" aria-expanded="false">
                      Elegant Design
                    </button>
                  </h2>
                  <div id="solution-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionSolutions">
                    <div class="accordion-body-why">Content for Solution One</div>
                  </div>
                </div>
                <div class="accordion-item-why">
                  <h2 class="accordion-header">
                    <button class="accordion-button-why collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#solution-collapseFour" aria-expanded="false">
                      Consistency
                    </button>
                  </h2>
                  <div id="solution-collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionSolutions">
                    <div class="accordion-body-why">
                      Your data is safe with us. Trusted by leading consulting firms, we strictly follow NDA and use advanced encryption to ensure complete confidentiality.
                    </div>
                  </div>
                </div>
                <div class="accordion-item-why">
                  <h2 class="accordion-header">
                    <button class="accordion-button-why collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#solution-collapseFive" aria-expanded="false">
                      Focus
                    </button>
                  </h2>
                  <div id="solution-collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionSolutions">
                    <div class="accordion-body-why">Content for Solution One</div>
                  </div>
                </div>
                <div class="accordion-item-why">
                  <h2 class="accordion-header">
                    <button class="accordion-button-why collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#solution-collapseThree" aria-expanded="false">
                      Proven Excellence
                    </button>
                  </h2>
                  <div id="solution-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionSolutions">
                    <div class="accordion-body-why">Content for Solution One</div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-2"></div>

            <!-- Lottie Player -->
            <div class="col-md-5 d-flex justify-content-center align-items-center mt-0">
              <div class="bg-image-box-1 w-100 text-center" id="solutionBgBox"
                   style="background-image: url('{% static 'images/2148908922.jpg' %}'); background-size: cover; background-position: center; height: 400px;">
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>


  <div class="white-section">
    <div class="card solution-hero-card">
      <div class="container p-0" id="dedicated-design-team-subscription">
        <div class="row row-cols-1 row-cols-md-2 g-4">
          <div class="col-md-6 col-bg-image">
            <div class="bg-image-box-1" style=" background-image: url('{% static 'images/28.jpg' %}');"></div>
          </div>
          <div class="col-md-6 d-flex align-items-center">
            <div class="card-body" style="max-width: 32rem;">
              <h3 class="solution-hero-card-title">Expert Design Support Tailored to Your Brand</h3>
              <p class="solution-hero-subtitle-1">Get access to a team of professional designers who understand your brand
                inside out. With our subscription, you receive consistent, high-quality design support to meet all your presentation needs.
              </p>
              <button type="button" class="btn hire-btn">Hire Us</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="white-section">
  <div class="card service-section">
    <div class="container p-0">
      <div class="card-body p-0">
        <div class="row row-cols-1 row-cols-md-2 g-4">
          <div class="col-md-6 d-flex justify-content-end align-items-center">
            <div class="card-body">
                <p class="title-100 mb-5">Features</p>
                <div class="row row-cols-1 row-cols-md-2 custom-gap" style="--bs-gutter-x: 2.5rem; --bs-gutter-y: 2.5rem;">
                  <div class="col">
                    <div class="service-box d-flex align-items-start gap-3">
                      <img src="{% static 'icons/map.svg' %}" style="height: 1.5rem; width: 1.5rem;">
                      <div>
                        <h6 class="service-box-title mb-1">Expert Team</h6>
                        <p class="service-box-subtitle mb-0">
                          We take the time to understand your goals and challenges, delivering solutions tailored to your needs.
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="service-box d-flex align-items-start gap-3">
                      <img src="{% static 'icons/scroll.svg' %}" style="height: 1.5rem; width: 1.5rem;">
                      <div>
                        <h6 class="service-box-title mb-1">Fast Turnaround</h6>
                        <p class="service-box-subtitle mb-0">
                          We take the time to understand your goals and challenges, delivering solutions tailored to your needs.
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="service-box d-flex align-items-start gap-3">
                      <img src="{% static 'icons/sticky-note.svg' %}" style="height: 1.5rem; width: 1.5rem;">
                      <div>
                        <h6 class="service-box-title mb-1">Enhanced Security</h6>
                        <p class="service-box-subtitle mb-0">
                          We take the time to understand your goals and challenges, delivering solutions tailored to your needs.
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="service-box d-flex align-items-start gap-3">
                      <img src="{% static 'icons/book-open.svg' %}" style="height: 1.5rem; width: 1.5rem;">
                      <div>
                        <h6 class="service-box-title mb-1">Flexible Cancellation</h6>
                        <p class="service-box-subtitle mb-0">
                          We take the time to understand your goals and challenges, delivering solutions tailored to your needs.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="bg-cover-about-3" style="background-image: url('{% static 'images/serv12.jpg' %}');"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>

  <div class="white-section">
  <div class="card service-card-white">
    <div class="container p-0">
      <div class="card-body">
        <div class="row row-cols-1 row-cols-md-2 g-4">
          <div class="col-md-5">
            <div class="bg-cover-about-2" style="background-image: url('{% static 'images/30.jpg' %}');"></div>
          </div>
          <div class="col-md-7 d-flex justify-content-end align-items-center">
            <div class="card-body">
              <p class="title-100 mb-5">Benefits</p>
              <div class="row row-cols-1 row-cols-md-2 custom-gap" style="--bs-gutter-x: 2.5rem; --bs-gutter-y: 2.5rem;">
                <div class="col">
                  <div class="service-box d-flex align-items-start gap-3">
                    <img src="{% static 'icons/map.svg' %}" style="height: 1.5rem; width: 1.5rem;">
                    <div>
                      <h6 class="service-box-title mb-1">Customer Support</h6>
                      <p class="service-box-subtitle mb-0">
                        We take the time to understand your goals and challenges, delivering solutions tailored to your needs.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="service-box d-flex align-items-start gap-3">
                    <img src="{% static 'icons/scroll.svg' %}" style="height: 1.5rem; width: 1.5rem;">
                    <div>
                      <h6 class="service-box-title mb-1">Transparent Billing</h6>
                      <p class="service-box-subtitle mb-0">
                        We take the time to understand your goals and challenges, delivering solutions tailored to your needs.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="service-box d-flex align-items-start gap-3">
                    <img src="{% static 'icons/sticky-note.svg' %}" style="height: 1.5rem; width: 1.5rem;">
                    <div>
                      <h6 class="service-box-title mb-1">Enhanced Security</h6>
                      <p class="service-box-subtitle mb-0">
                        We take the time to understand your goals and challenges, delivering solutions tailored to your needs.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="service-box d-flex align-items-start gap-3">
                    <img src="{% static 'icons/book-open.svg' %}" style="height: 1.5rem; width: 1.5rem;">
                    <div>
                      <h6 class="service-box-title mb-1">Flexible Cancellation</h6>
                      <p class="service-box-subtitle mb-0">
                        We take the time to understand your goals and challenges, delivering solutions tailored to your needs.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>




{% endblock %}