{% extends 'base.html' %}
{% load static %}

{% block title %}Testimonials - VGDS{% endblock %}

{% block content %}

<!--Other Navbar  -->

<nav class="navbar navbar-expand-lg fixed-top navbar-secondary">
  <div class="container">
    <a class="navbar-brand" href="/">
        <!-- White logo (default) -->
        <img src="{% static 'images/vgds-white-logo.png' %}" alt="Bootstrap" class="logo logo-white" id="navbarLogo">

        <!-- Colored logo (hidden initially) -->
        <img src="{% static 'images/vgds-logo-2.png' %}" class="logo logo-colored d-none" alt="Logo">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarText">
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{% url 'projectapp:ourWorks' %}">Our Work</a>
        </li>
        <li class="nav-item dropdown custom-dropdown">
          <a class="nav-link dropdown-toggle" href="{% url 'projectapp:services' %}">Services</a>
          <div class="dropdown-menu mega-dropdown-bg">
                <div class="row">
                  <div class="col-md-4">
                    <a href="{% url 'projectapp:presentation_design' %}" class="dropdown-card">
                      <img src="{% static 'images/sol1.jpg' %}" class="img-fluid" alt="Presentation Design">
                      <p class="dropdown-title-bg">Presentation Design</p>
                    </a>
                  </div>
                  <div class="col-md-4">
                    <a href="{% url 'projectapp:graphics' %}" class="dropdown-card">
                      <img src="{% static 'images/sol2.jpg' %}" class="img-fluid" alt="Graphics & Print Design">
                      <p class="dropdown-title-bg">Graphics & Print Design</p>
                    </a>
                  </div>
                  <div class="col-md-4">
                    <a href="{% url 'projectapp:otherServices' %}" class="dropdown-card">
                      <img src="{% static 'images/sol3.jpg' %}" class="img-fluid" alt="Other Services">
                      <p class="dropdown-title-bg">Other Services</p>
                    </a>
                  </div>
                </div>
            </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'projectapp:solutions' %}">Solutions</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'projectapp:testimonials' %}">Testimonials</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'projectapp:pricing' %}">Pricing</a>
        </li>
<!--                <li class="nav-item">-->
<!--                  <a class="nav-link" href="#">About Us</a>-->
<!--                </li>-->
      </ul>

        <!-- Mobile Order Now button -->
      <div class="d-lg-none mt-3">
        <a href="{% url 'projectapp:orderFlow' %}" type="button" class="btn order-button-nav">Order Now</a>
      </div>

    </div>

    <!-- Order Now Button -->
    <div class="d-none d-lg-block">
      <a href="{% url 'projectapp:orderFlow' %}" type="button" class="btn order-button-nav">Order Now</a>
    </div>

  </div>
</nav>

<!--END NAVBAR-->

<div class="white-section">

  <div class="card sub-service-hero" style="background-image: url('{% static 'images/cover-other.jpg' %}'); background-size: cover; background-position: center; background-repeat: no-repeat;">
    <div class="container p-0">
      <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col-md-10 d-flex align-items-center">
          <div class="card other-hero-card-pricing">
            <div class="card-body">
              <h1 class="sub-service-hero-title">What Our Clients Say</h1>
              <h1 class="sub-service-hero-subtitle" style="max-width: 35rem;">Turning Presentations into Powerful Impressions – 100% Client Satisfaction Guaranteed</h1>
              <p class="sub-service-hero-pricing mb-5">
                We don’t just design slides—we perfect them until they meet your highest expectations. With a commitment to quality and precision, we ensure every presentation makes an impact.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-2 d-flex align-items-center justify-content-center">
<!--                  <div class="card other-hero-card-img">-->
<!--                    <div class="inner-bg-div" style="background-image: url('{% static 'images/51435002.png' %}');"></div>-->
<!--                  </div>-->
        </div>
      </div>

    </div>
  </div>

</div>

<div class="white-section">
    <div class="result-card">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <h4 class="title-101">Solutions Built on Results</h4>
                    <p class="text-102">We let the numbers do the talking! Our services are well appreciated by our clients.</p>

                    <div class="row row-cols-2 row-cols-md-3 g-4 section-101">
                        <div class="col">
                            <div class="counter-box">
                              <h2>25+</h2>
                              <p>Countries Served</p>
                            </div>
                        </div>
                        <div class="col">
                            <div class="counter-box">
                              <h2>500+</h2>
                              <p>Happy Clients</p>
                            </div>
                        </div>
                        <div class="col">
                            <div class="counter-box last">
                              <h2>3M+</h2>
                              <p>Unique Slides Created</p>
                            </div>
                        </div>
                        <div class="col">
                            <div class="counter-box">
                              <h2>40+</h2>
                              <p>Skilled Experts on our Team</p>
                            </div>
                        </div>
                        <div class="col">
                            <div class="counter-box">
                              <h2>4.9/5</h2>
                              <p>Average Client Satisfaction Rating</p>
                            </div>
                        </div>
                        <div class="col">
                            <div class="counter-box last">
                              <h2>85%</h2>
                              <p>Repeat Business Rate</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <img src="{% static 'images/98745.png' %}" class="test-image">
                </div>
            </div>
        </div>

    </div>
</div>

<div class="white-section">
    <div class="testimonial-section">
        <div class="container p-0">
            <div class="card-body">
                <div class="row row-cols-1 row-cols-md-3 g-4" id="testimonial-list">

                    {% for t in testimonials %}
                    <div class="col testimonial-item {% if forloop.counter > 6 %}d-none{% endif %}">
                        <div class="card testimonial-card h-100">
                          <div class="card-body">
                            <div class="test-profile d-flex align-items-center">
                              <img src="{{ t.profile_image.url }}" class="rounded-circle me-3" alt="Profile Image" width="60" height="60">
                                <div class="text-start">
                                    <h6 class="mb-0 fw-bold">{{ t.name }}</h6>
                                    <small class="text-muted fst-italic">{{ t.date }}</small>
                                </div>
                            </div>
                            <p class="card-text mt-3">{{ t.content }}</p>
                          </div>
                          <div class="card-footer bg-transparent border-0">
                            <a class="learn-more d-inline-flex align-items-center" href="{{ t.trustpilot_url }}" target="_blank">
                                  View on Trustpilot
                              <img src="{% static 'icons/Frame23.svg' %}" alt="Arrow" class="ms-2" width="20" height="20">
                            </a>
                          </div>
                        </div>
                    </div>
                    {% endfor %}

                </div>
                <!-- Show More Button -->
                <div class="text-center mt-4">
                    <button class="learn-more-1 d-inline-flex align-items-center" id="show-more-testimonials">
                    Show More
                    <img src="{% static 'icons/down.svg' %}" alt="Arrow" class="ms-2" width="20" height="20">
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="white-section">
    <div class="card test-caption-card">
        <div class="container">
            <div class="card-body p-0">
            <h4 class="title-103">
                Your vision, our <span>expertise</span> – delivering excellence, one slide at a time!
            </h4>
        </div>
        </div>
    </div>
</div>





{% endblock %}
